---
import { FIGHTERS } from "@/consts/fighters"
import Layout from "@/layouts/Layout.astro"
import {fixedTitle} from "@/consts/pageTitles"

const { id } = Astro.params

let fighter

try {
  fighter = FIGHTERS.find((fighter) => fighter.id === id)

  // Si no hay luchador emitir error para redirigir a 404
  if (!fighter) {
    throw new Error('Fighter not found')
  }
} catch (error) {
  // redirigir a 404
  return Astro.redirect('/404')
}

export const prerender = false
---

<Layout title={`${fighter?.name} | ${fixedTitle}`}>
  <section class="relative flex min-h-screen w-full">
    <div
      class="mask-fade-bottom absolute inset-0 w-full bg-[url('/images/hero.avif')] bg-cover bg-center"
    >
    </div>
    <img
      transition:name={`image-${id}`}
      data-id={`hero-image-transitioned-${id}`}
      src={`/images/fighters/big/${id}.webp`}
      alt={fighter?.name}
      decoding="async"
      class="mask-fade-bottom z-10 h-full w-auto"
      fetchpriority="low"
    />
  </section>
</Layout>
