---
import Layout from '@/layouts/Layout.astro'
import BoxerWorkout from '@/components/BoxerWorkout.astro'

import { FIGHTERS } from '@/consts/fighters'
import { fixedTitle } from '@/consts/pageTitles'
import { COMBATS } from '@/consts/combats'
import CombatVersus from '@/components/CombatVersus.astro'
import BoxerProfile from '@/components/BoxerProfile.astro'
import BoxerFaceOff from '@/components/BoxerFaceOff.astro'

const { id } = Astro.params
if (!id) return Astro.redirect('/404')

const fighter = FIGHTERS.find((fighter) => fighter.id === id)
if (!fighter) return Astro.redirect('/404')

const combat = COMBATS.find((combat) => combat.fighters.includes(id))
const combatId = combat?.id
console.log({ combatId })

const description = `Biografía, estadísticas y clips de ${fighter.name}, participante de La Velada del Año V. ${fighter.bio.substring(0, 120)}${fighter.bio.length > 120 ? '...' : ''}`
const canonical = `https://www.infolavelada.com/luchador/${id}`

export const prerender = true

export const getStaticPaths = () => {
  return FIGHTERS.map((fighter) => ({
    params: { id: fighter.id },
  }))
}
---

<Layout title={`${fighter.name} | ${fixedTitle}`} description={description} canonical={canonical}>
  <!-- Perfil del Boxeador -->
  <BoxerProfile fighter={fighter} />

  <!-- Versus -->
  {
    combat && (
      <section class="mx-auto max-w-6xl px-4">
        <CombatVersus id={combatId} />
      </section>
    )
  }

  <!-- Cara a Cara -->
  <BoxerFaceOff fighterId={fighter?.id} />

  <!-- Video de Entrenamientos -->
  <section>
    {fighter.workout && <BoxerWorkout workout={fighter.workout} />}
  </section>
  <!-- Fin de video de entrenamientos -->
</Layout>

<style>
  .stat-item {
    animation: fadeIn 0.5s ease-out forwards;
    opacity: 0;
  }

  .stat-item:nth-child(1) {
    animation-delay: 0.1s;
  }
  .stat-item:nth-child(2) {
    animation-delay: 0.2s;
  }
  .stat-item:nth-child(3) {
    animation-delay: 0.3s;
  }
  .stat-item:nth-child(4) {
    animation-delay: 0.4s;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
