---
import { FIGHTERS } from '@/consts/fighters'
import Layout from '@/layouts/Layout.astro'
import { fixedTitle } from '@/consts/pageTitles'
import BoxerWorkout from '@/components/BoxerWorkout.astro'
import BoxerCard from '@/components/BoxerCard.astro'
import BoxerClip from '@/components/BoxerClip.astro'

const { id } = Astro.params

const fighter = FIGHTERS.find((fighter) => fighter.id === id)
if (!fighter) return Astro.redirect('/404')

const birthDate = fighter.birthDate.toLocaleDateString('es-ES', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})

const opponent = FIGHTERS.find((f) => f.id === fighter.versus)
---
<Layout title={`${fighter.name} | ${fixedTitle}`}>

  <!-- Div de fondo, no se utilizo el componente para evitar el Max-h y modificarlo -->
  <div class="mask-fade-bottom absolute inset-0 w-full bg-[url('/images/hero.avif')] bg-cover bg-center "> </div>
  
  <!-- Seccion de Informacion principal -->
  <section class="mt-14 md:mt-28 mb-auto relative lowercase max-w-7xl mx-auto flex flex-col md:flex-row md:h-[80vh] p-4 md:p-2">
    
    <!-- Clips -->
    <article class="slide slide-left order-2 md:order-1  opacity-0 md:w-1/3 h-full flex items-center p-4 rounded-none">
      <BoxerClip clips={fighter.clips} />
    </article>

    <!-- Fighter -->
    <section class=" relative  fadeBackground order-1 md:order-2 md:w-1/3 rounded-none">
      <img
        src={`/images/fighters/big/${id}.webp`}
        alt={fighter.name}
        class=" h-full w-full object-contain mask-image-fade-bottom md:scale-110 hover:scale-125 animate-fade-in transition-all animate-duration-300 "
        transition:name={`image-${id}`}
      />
      <img
        src={`/images/fighters/text/${id}.png`}
        alt={fighter.name}
        class="animate-scale-in absolute bottom-24 h-16 w-auto animate-fade-in-up animate-delay-200"
        transition:name={`text-${id}`}
      />
    </section>
  
    <!-- Información -->
    <article class="slide slide-right opacity-0 order-3 md:w-1/3 h-full rounded-none flex flex-col items-center justify-center p-4 ">
      <!-- Info Fighter -->
      <section>
        <div class="relative flex group w-full overflow-hidden animate-fade-in-down animate-delay-1000">
          <h2 class="animate-fade-in-up z-10 text-theme-turquoise text-center md:text-2xl xl:text-3xl font-bold w-full">
            {fighter.realName}
          </h2>
          <!-- transision de sombra -->
          <div class=" absolute  h-full w-full bg-theme-seashell/20 -skew-3 -translate-x-full group-hover:translate-x-full transition-transform duration-500 ease-in-out"></div>
          <div class=" absolute  h-full w-full bg-theme-seashell/10 -skew-3 -translate-x-full group-hover:translate-x-full transition-transform duration-800 ease-in-out"></div>
        </div>

        <div class="grid grid-cols-2 gap-4 md:mt-2 xl:mt-7  text-center animate-fade-in-up animate-delay-1000">
          <dl class="">
            <dt class="xl:text-lg text-theme-seashell/85">Edad</dt>
            <dd class="xl:text-xl font-bold text-theme-turquoise">{fighter.age} años</dd>
          </dl>
          <dl class="">
            <dt class="xl:text-lg text-theme-seashell/85">Altura</dt>
            <dd class="xl:text-xl font-bold text-theme-turquoise">{fighter.height}m</dd>
          </dl>
          <dl class="">
            <dt class="xl:text-lg text-theme-seashell/85">Peso</dt>
            <dd class="xl:text-xl font-bold text-theme-turquoise">{fighter.weight}kg</dd>
          </dl>
          <dl class="">
            <dt class="xl:text-lg text-theme-seashell/85">Ciudad</dt>
            <dd class="xl:text-xl font-bold text-theme-turquoise">{fighter.city}</dd>
          </dl>
        </div>

        <!-- Birth Date -->
        <dl class="animate-fade-in-up animate-delay-1000 text-center mt-5">
          <dt class="xl:text-xl text-theme-seashell/85">Fecha de nacimiento</dt>
          <dd class="xl:text-2xl font-bold text-theme-turquoise">{birthDate}</dd>
        </dl>
      </section>

      <!-- Versus Fighter -->
      <section class="mt-5 w-full animate-fade-in-up animate-delay-1000">
        <div class="flex items-center w-full px-8 ">
          <span class="flex-grow border-t-2 border-theme-turquoise"></span>
          <span class="px-4 text-lg text-theme-seashell whitespace-nowrap">contrincante</span>
          <span class="flex-grow border-t-2 border-theme-turquoise"></span>
        </div>

        <div class="flex items-center justify-center gap-4 mt-2 min-h-20">
<!--           <img src="/images/versus.webp" class="size-20" alt="">
 -->          {
             opponent && (    
              <BoxerCard id={opponent.id} name={opponent.name} versus={fighter.name} class="group-hover:scale-110" />             
            )
          }
        </div>
      </section> 

    </article>

  </section>

  <!-- Workout -->
  <section class="lowercase max-w-7xl mx-auto">
    {fighter.workout && <BoxerWorkout workout={fighter.workout} />}
  </section>

  <!-- Galeria -->
  <section class="lowercase max-w-7xl mx-auto">
    galeria
  </section>
  
</Layout>

<style>
  .mask-image-fade-bottom {
    mask-image: linear-gradient(to bottom, black 70%, transparent 90%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 90%);
  }

  .fadeBackground {
    animation: fadeToBlack 0.5s forwards;
    animation-delay: 0.5s;
  }
  @keyframes fadeToBlack {
    0% {
      background: transparent;
    }
    100% {
      background: rgba(0, 0, 0, 0.7);
    }
  }
  

  .slide {
    animation: slide 1s forwards;
    animation-delay: 0.7s;
  }

  .slide-left {
    --slide-start: 100%;
  }

  .slide-right {
    --slide-start: -100%;
  }

  @keyframes slide {
    0% {
      transform: translateX(var(--slide-start, 100%));
      opacity: 0;
    }
  
    100% {
      transform: translateX(0);
      opacity: 1;
      background: rgba(0, 0, 0, 0.7);
    }
  }

</style>