---
import { FIGHTERS } from '@/consts/fighters'
import Layout from '@/layouts/Layout.astro'
import { fixedTitle } from '@/consts/pageTitles'
import BoxerWorkout from '@/components/BoxerWorkout.astro'
import BoxerCard from '@/components/BoxerCard.astro'

const { id } = Astro.params

const fighter = FIGHTERS.find((fighter) => fighter.id === id)
if (!fighter) return Astro.redirect('/404')

const birthDate = fighter.birthDate.toLocaleDateString('es-ES', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})

const opponent = FIGHTERS.find((f) => f.id === fighter.versus)
---

<Layout title={`${fighter.name} | ${fixedTitle}`}>
  <section class="pt relative flex min-h-screen w-full lowercase">
    <div
      class="relative z-10 flex min-h-screen w-full max-w-xl flex-col items-center justify-center gap-y-32 px-4 pt-24 text-right text-balance lg:pt-32"
    >
      <ul class="text-theme-raisin-black flex w-full flex-col gap-4 text-4xl">
        <li>Le voy a arrancar la cabeza de un mordisco</li>
        <li>Voy a superar la fuerza de un Super Saiyan!</li>
        <li>Le voy a demostrar que yo soy el peligro</li>
      </ul>

      {
        opponent && (
          <div class="flex w-full items-center justify-center">
            <img src="/images/versus.png" alt="Versus" class="h-12 w-auto" />
            <a
              href={`/luchador/${opponent.id}`}
              class="group transform rounded-lg bg-white/10 px-4 py-2 transition-all hover:scale-105 hover:bg-white/20"
            >
              <BoxerCard id={opponent.id} name={opponent.name} class="group-hover:scale-110" />
            </a>
          </div>
        )
      }
    </div>

    <div
      class="mask-fade-bottom absolute inset-0 w-full bg-[url('/images/hero.avif')] bg-cover bg-center opacity-50"
    >
    </div>

    <div
      class="relative z-10 mr-7 flex w-full flex-col items-center justify-center px-4 pt-24 lg:flex-row lg:items-start lg:pt-32"
    >
      <div
        class="relative mt-8 flex h-[60vh] w-full items-center justify-center lg:mt-0 lg:h-[80vh] lg:w-1/2"
      >
        <img
          src={`/images/fighters/big/${id}.webp`}
          alt={fighter.name}
          class="animate-fade-in mask-image-fade-bottom h-full w-full object-contain transition-all duration-700 hover:scale-105"
          transition:name={`image-${id}`}
        />
        <img
          src={`/images/fighters/text/${id}.png`}
          alt={fighter.name}
          class="animate-scale-in absolute bottom-24 h-16 w-auto"
          transition:name={`text-${id}`}
        />
      </div>

      <div class="mt-5 ml-7 w-full max-w-xl text-white lg:w-1/2">
        <div class="space-y-6 rounded-xl bg-black/40 p-6 backdrop-blur-sm">
          <div class="mb-8 flex flex-col items-center space-x-4">
            <h1 class="animate-fade-in-up inline-block text-center text-2xl font-bold">
              {fighter.realName}
            </h1>
          </div>

          <div class="grid grid-cols-2 gap-4 pt-7 pr-6 text-center">
            <div class="stat-item">
              <div class="text-sm text-gray-400">Edad</div>
              <div class="text-lg">{fighter.age} años</div>
            </div>
            <div class="stat-item">
              <div class="text-sm text-gray-400">Altura</div>
              <div class="text-lg">{fighter.height}m</div>
            </div>
            <div class="stat-item">
              <div class="text-sm text-gray-400">Peso</div>
              <div class="text-lg">{fighter.weight}kg</div>
            </div>
            <div class="stat-item">
              <div class="text-sm text-gray-400">Ciudad</div>
              <div class="text-lg">{fighter.city}</div>
            </div>
          </div>

          <!-- Birth Date -->
          <div class="animate-fade-in text-center">
            <div class="text-sm text-gray-400">Fecha de nacimiento</div>
            <div class="text-lg">{birthDate}</div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section>
    <div class="flex flex-wrap justify-center gap-3 space-x-2">
      {
        (fighter.socials || [])?.map(({ url, image, name, label }) => (
          <a
            href={url}
            target="_blank"
            aria-label={label ?? name}
            class="flex items-center justify-center transition hover:scale-125"
          >
            <image.logo />
          </a>
        ))
      }
    </div>
  </section>

  <section>
    {fighter.workout && <BoxerWorkout workout={fighter.workout} />}
  </section>
</Layout>

<style>
  .stat-item {
    animation: fadeIn 0.5s ease-out forwards;
    opacity: 0;
  }

  .stat-item:nth-child(1) {
    animation-delay: 0.1s;
  }
  .stat-item:nth-child(2) {
    animation-delay: 0.2s;
  }
  .stat-item:nth-child(3) {
    animation-delay: 0.3s;
  }
  .stat-item:nth-child(4) {
    animation-delay: 0.4s;
  }

  .mask-image-fade-bottom {
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
