---
import { FIGHTERS } from "@/consts/fighters"
import Layout from "@/layouts/Layout.astro"

const { id } = Astro.params

const fighter = FIGHTERS.find((fighter) => fighter.id === id)

export const prerender = false
---

<Layout>
  <section class="relative flex min-h-screen w-full items-center justify-center">
    <div
      class="bg-[url('/images/hero.png')] bg-cover bg-center w-full mask-fade-bottom absolute inset-0"
    ></div>

    <picture class="h-auto w-full flex justify-center">
      <img
        transition:name={`image-${id}`}
        data-id={`hero-image-${id}`}
        src={`/images/fighters/big/${id}.webp`}
        alt={fighter?.name}
        decoding="async"
        class="md:h-auto w-full max-h-[800px] object-contain z-10 mask-fade-bottom"
        fetchpriority="low"
      />
    </picture>
    <picture class="absolute bottom-30 z-50 left-1/2 -translate-x-1/2 flex justify-center w-full">
      <img
      data-id={`hero-text-${id}`}
      src={`/images/fighters/text/${id}.png`}
      alt={fighter?.name}
      decoding="async"
      class="mask-fade-text max-h-[100px] w-auto"
      fetchpriority="low"
    />
    </picture>
    
  </section>
</Layout>

