---
import BoxerCard from '@/components/BoxerCard.astro'
import BoxerClipDrawer from '@/components/BoxerClipDrawer.astro'
import BoxerClipList from '@/components/BoxerClipList.astro'
import BoxerGallery from '@/components/BoxerGallery.astro'
import BoxerProfileCard from '@/components/BoxerProfileCard.astro'
import BoxerWorkout from '@/components/BoxerWorkout.astro'
import { FIGHTERS } from '@/consts/fighters'
import { fixedTitle } from '@/consts/pageTitles'
import Layout from '@/layouts/Layout.astro'
import BoxerSocialLink from '../../components/BoxerSocialLink.astro'

const { id } = Astro.params

const fighter = FIGHTERS.find((fighter) => fighter.id === id)
if (!fighter) return Astro.redirect('/404')

const birthDate = fighter.birthDate.toLocaleDateString('es-ES', {
  year: 'numeric',
  month: 'short',
  day: 'numeric',
})

const opponent = FIGHTERS.find((f) => f.id === fighter.versus)
---

<Layout title={`${fighter.name} | ${fixedTitle}`}>
  <section class="relative flex w-full flex-col-reverse lg:min-h-screen lg:flex-row">
    <!-- Fondo de la pagina -->
    <div
      class="mask-fade-bottom absolute inset-0 w-full bg-[url('/images/hero.avif')] bg-cover bg-center opacity-50"
    >
    </div>

    <!-- Listado de Clips -->
    <div
      class="group flex w-full flex-col items-center justify-center gap-y-32 my-10 text-balance px-8 pt-4 text-right lg:min-h-screen lg:max-w-xl lg:pt-24"
    >
      <BoxerClipList clips={fighter.clips} externalPlayer={false} />

      <div class="relative z-[101] hidden">
        <BoxerClipDrawer clips={fighter.clips} />
      </div>

      {
        opponent && (
          <div class="flex w-full items-center justify-center gap-4">
            <img
              alt={`Enfrentamiento entre ${fighter.name} y ${opponent?.name ?? 'su oponente'}`}
              src="/images/versus.webp"
              class="h-12 w-auto"
            />
            <BoxerCard
              id={opponent.id}
              versus={fighter.id}
              name={opponent.name}
              class="hover:scale-110"
            />
          </div>
        )
      }
    </div>

    <!-- Boxeador perfil -->
    <div
      class="relative z-10 flex w-full flex-col items-center justify-center pl-0 pr-0 pt-24 lg:flex-row lg:items-start lg:pr-8 lg:pt-32"
    >
      <!-- Imagenes del boxeador -->
      <div
        class="lg:min-w-sm relative mt-8 flex h-[60vh] w-full items-center justify-center px-6 lg:mt-0 lg:h-[80vh] lg:w-1/2 lg:px-2"
      >
        <img
          src={`/images/fighters/big/${id}.webp`}
          alt={`Retrato de ${fighter.name}, participante de La Velada V`}
          class="mask-image-fade-bottom h-full w-full object-contain transition-all duration-700 hover:scale-105"
          transition:name={`image-${id}`}
        />
        <img
          src={`/images/fighters/text/${id}.webp`}
          alt={`Nombre de ${fighter.name} en texto decorativo`}
          class="animate-scale-in lg:bottom-34 absolute bottom-6 h-10 w-auto lg:h-16"
          transition:name={`text-${id}`}
          loading="lazy"
        />
      </div>
      <!-- Fin de las imagenes del boxeador -->

      <!-- Tarjeta del boxeador -->
      <div
        class="mt-5 flex w-full max-w-xl flex-col items-center justify-center space-y-9 px-8 text-white lg:w-1/2 lg:px-0"
      >
        <BoxerProfileCard fighter={fighter} birthDate={birthDate} />
      </div>
      <!-- Fin de la tarjeta del boxeador -->
    </div>
  </section>

  <!-- Redes Sociales del Boxeador -->
  <section>
    <div class="flex flex-wrap justify-center gap-2 space-x-2 px-4 lg:px-0">
      {(fighter.socials || [])?.map((item) => <BoxerSocialLink social={item} />)}
    </div>
  </section>
  <!-- Clips del boxeador -->

  <!-- Video de Entrenamientos -->
  <section>
    {fighter.workout && <BoxerWorkout workout={fighter.workout} />}
  </section>
  <!-- Fin de video de entrenamientos -->

  <!-- Galeria del boxeador -->
  {fighter.gallery && <BoxerGallery id={fighter.id} name={fighter.name} />}
  <!-- Fin de la galeria del boxeador -->
</Layout>

<style>
  .stat-item {
    animation: fadeIn 0.5s ease-out forwards;
    opacity: 0;
  }

  .stat-item:nth-child(1) {
    animation-delay: 0.1s;
  }
  .stat-item:nth-child(2) {
    animation-delay: 0.2s;
  }
  .stat-item:nth-child(3) {
    animation-delay: 0.3s;
  }
  .stat-item:nth-child(4) {
    animation-delay: 0.4s;
  }

  .mask-image-fade-bottom {
    mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: linear-gradient(to bottom, black 70%, transparent 100%);
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
