---
import { FIGHTERS } from '@/consts/fighters'
import Layout from '@/layouts/Layout.astro'
import { fixedTitle } from '@/consts/pageTitles'
import BoxerWorkout from '@/components/BoxerWorkout.astro'
import BoxerCard from '@/components/BoxerCard.astro'
import BoxerClip from '@/components/BoxerClip.astro'
import FighterDataCard from '@/components/FighterDataCard.astro'

const { id } = Astro.params

const fighter = FIGHTERS.find((fighter) => fighter.id === id)
if (!fighter) return Astro.redirect('/404')

const birthDate = fighter.birthDate.toLocaleDateString('es-ES', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})

const opponent = FIGHTERS.find((f) => f.id === fighter.versus)
---

<Layout title={`${fighter.name} | ${fixedTitle}`}>
  <section class="pt relative flex flex-col lg:flex-row min-h-screen w-full lowercase">
    <!-- Columna izquierda (Clips y oponente) -->
    <div
      class="relative z-10 flex w-full lg:max-w-xl flex-col md:flex-col items-center justify-center gap-y-16 px-4 pt-16 text-center lg:pt-32 lg:text-right lg:text-balance order-2 lg:order-1"
    >
      <BoxerClip clips={fighter.clips} />

      {opponent && (
        <div class="flex w-full items-center gap-8 justify-center  animate-fade-in-up mb-16">
          <BoxerCard
            id={opponent.id}
            name={opponent.name}
            versus={fighter.id}
            class="sm:w-24 sm:h-24 md:w-32 md:h-32 w-auto h-auto"
            imgClass={`${!opponent.mirrorImage ? '' : 'scale-x-[-1] group-hover:scale-x-[-1]'}`}
          />
          <img src="/images/versus.png" alt="Versus" class="h-16 w-auto sm:h-20 sm:w-auto md:h-24 md:w-auto lg:h-12" />
        </div>
      )}
    </div>

    <!-- Fondo -->
    <div
      class="mask-fade-bottom absolute inset-0 w-full bg-[url('/images/hero.avif')] bg-cover bg-center opacity-50"
    ></div>

    <!-- Columna derecha (Imagen del luchador y tarjeta de datos) -->
    <div
      class="relative z-10 flex w-full flex-col items-center justify-center px-4 pt-16  lg:flex-row lg:items-start lg:pt-32 order-1 lg:order-2"
    >
      <!-- Imagen del luchador -->
      <div
        class="relative mt-8 flex h-[50vh] w-full items-center justify-center sm:h-[60vh] lg:mt-0 lg:h-[80vh] lg:w-1/2"
      >
        <img
          src={`/images/fighters/big/${id}.webp`}
          alt={fighter.name}
          class="animate-fade-in mask-image-fade-bottom h-full w-full object-contain transition-all duration-700 hover:scale-105"
          transition:name={`image-${id}`}
        />
        <img
          src={`/images/fighters/text/${id}.png`}
          alt={fighter.name}
          class="animate-fade-in-up absolute bottom-12 h-12 w-auto sm:bottom-24 sm:h-16 transition-all duration-700"
          transition:name={`text-${id}`}
        />
      </div>

      <!-- Tarjeta de datos del luchador -->
      <div class="mt-5 w-full max-w-xl text-white lg:ml-7 lg:w-1/2">
        <FighterDataCard
          id={fighter.id}
          realName={fighter.realName}
          age={fighter.age}
          height={fighter.height}
          weight={fighter.weight}
          city={fighter.city}
          country={fighter.country}
          birthDate={birthDate}
        />
      </div>
    </div>
  </section>

  <!-- Redes sociales -->
  <section class="mt-8 px-4">
    <div class="flex flex-wrap justify-center gap-3 sm:gap-4 md:gap-6">
      {
        (fighter.socials || []).map(({ url, image, name, label, followers }) => (
          <a
            href={url}
            target="_blank"
            aria-label={label ?? name}
            class="hover:to-theme-turquoise/70 hover:from-theme-tickle-me-pink/70 flex w-16 sm:w-20 flex-col items-center justify-center bg-gradient-to-b transition duration-500 hover:scale-110 group"
          >
            <image.logo class="h-10 w-10 sm:h-12 sm:w-12" />
            <span class="text-white text-xs sm:text-sm lowercase opacity-0 duration-500 ease-in-out group-hover:opacity-100">{followers}</span>
          </a>
        ))
      }
    </div>
  </section>

  <!-- Entrenamiento -->
  <section class="mt-12 px-4">
    {fighter.workout && <BoxerWorkout workout={fighter.workout} />}
  </section>
</Layout>

