---
import Layout from "@/layouts/Layout.astro"

import KonamiCode from "@/components/KonamiCode.astro"

import Countdown from "@/sections/Countdown.astro"
import Footer from "@/sections/Footer.astro"
import Hero from "@/sections/Hero.astro"
import Info from "@/sections/Info.astro"
import PrincipalDate from "@/sections/PrincipalDate.astro"
import { Languages, LANGUAGES } from "@/i18n/languages"

export function getStaticPaths() {
const langPaths = Object.keys(LANGUAGES).map(lang => ({ params: { lang } }))
return langPaths
}

const { lang } = Astro.params
---

<Layout lang={lang as Languages} >
  <Hero lang={lang} />
  <main>
    <PrincipalDate lang={lang} />
    <Info lang={lang} />
    <Countdown lang={lang} />
  </main>
  <Footer lang={lang} />
  <KonamiCode />
</Layout>
