---
import Layout from '@/layouts/Layout.astro'
import { porra } from '@/consts/pageTitles'
import BackgroundLayout from '@/layouts/BackgroundLayout.astro'
import { FIGHTERS as _FIGHTERS } from '@/consts/fighters'
import BoxerCardPorra from '@/components/BoxerCardPorra.astro'

const FIGHTERS = _FIGHTERS.map(
  ({ id, name, versus: _versus }, index) => {
    const versusIndex = _FIGHTERS.findIndex(f => f.id === _versus)
    if(versusIndex < index)
      return;
    const versus = _FIGHTERS[versusIndex]
    return {id, name, versus }
  }).filter(f => !!f)
---

<Layout title={porra}>
  <BackgroundLayout>
    <header
      class="mt-28 mx-auto flex w-full flex-col items-center justify-start gap-4"
    >
      <h2
        class="animate-fade-in animate-delay-300 bg-gradient-to-r from-sky-100 to-pink-300 bg-clip-text text-center text-2xl font-bold text-transparent drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]"
      >
        PARTICIPA EN LA PORRA
      </h2>
    </header>
    <section class="mx-auto flex w-full flex-col items-center justify-start p-24 pt-12">
      <form id="porra-form" class="grid w-full grid-cols-1 gap-4 rounded-lg bg-white/10 p-4 shadow-lg backdrop-blur-md sm:grid-cols-1 md:grid-cols-1 lg:grid-cols-2">
          {FIGHTERS.map(({versus, ...fighter }, index) => (
            <>{versus && (
              <div class="flex w-full items-center justify-center gap-4">
                <BoxerCardPorra id={fighter.id} name={fighter.name} class="boxer-left" versus={versus.id} />
                <img
                  src="/images/versus.png"
                  class="animate-slide-out-bottom size-16"
                  alt="Imagen de Versus"
                />
                <BoxerCardPorra id={versus.id} name={versus.name} class="boxer-right" versus={fighter.id} />
              </div>
            )}</>
          ))}
        </select>
        <button type="submit" class="bg-fuchsia-200 text-fuchsia-900 m-auto px-12 py-4 rounded-lg">Enviar porra</button>
      </form>
    </section>
  </BackgroundLayout>
</Layout>
