---
import Layout from '@/layouts/Layout.astro'
import { porra } from '@/consts/pageTitles'
import { COMBATS } from '@/consts/combats'
import { getBoxerById } from '@/lib/boxers'
import PredictionBar from '@/components/PredictionBar.astro'

const description =
  'Participa en la porra oficial de La Velada del Año VI y haz tus predicciones sobre los combates de Ibai Llanos y creadores de contenido.'
const canonical = 'https://www.infolavelada.com/porra'

export const prerender = true
---

<Layout title={porra} description={description} canonical={canonical}>
  <section
    class="mx-auto mt-24 flex min-h-screen w-full flex-col items-center justify-start gap-4 px-4"
  >
    <h2
      class="mt-10 bg-gradient-to-r from-sky-100 to-pink-300 bg-clip-text text-center text-2xl font-bold text-transparent drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]"
    >
      PREDICCIONES DE LA COMUNIDAD
    </h2>

    <div class="flex w-full flex-col items-center text-center">
      <div
        id="combats-container"
        class="relative mx-auto mb-24 mt-10 grid max-w-7xl grid-cols-1 gap-4 p-6 md:gap-8"
      >
        {
          COMBATS.toReversed().map(({ id, number, fighters, title }, index) => (
            <article class:list={['inline-block', index === 0 ? 'col-span-1' : 'md:col-span-1']}>
              <div
                class:list={[
                  'combat relative flex w-full',
                  index === 0 ? 'h-[50vh] sm:h-[60vh] md:h-[70vh]' : 'h-[40vh] sm:h-[50vh]',
                  'animate-delay-200 lg',
                ]}
              >
                {fighters.map((fighter, fighterIndex) => (
                  <div
                    class="fighter-result group relative z-20 flex size-96 h-full w-1/2 flex-col items-center transition-all duration-300"
                    data-combat-id={id}
                    data-fighter-id={fighter}
                    data-fighter-index={fighterIndex}
                  >
                    <img
                      src={`/images/fighters/combat/${fighter}.webp`}
                      class="mask-fade-bottom group-hover:contrast-110 size-96 h-full w-full object-contain object-bottom transition-all duration-300 group-hover:brightness-110"
                      alt={`Imagen de ${fighter}`}
                      transition:name={`combat-img:${fighter}`}
                    />
                  </div>
                ))}

                <div class="pointer-events-none absolute bottom-0 z-30 flex h-auto w-full flex-col items-center justify-center p-8 transition-transform">
                  <img
                    src={`/images/fighters/combat/${fighters[0]}-vs-${fighters[1]}.webp`}
                    class="transform-3d z-50 h-40 object-contain md:h-64"
                    alt={`${fighters[0]} contra ${fighters[1]}`}
                    transition:name={`vs:${fighters[0]}-${fighters[1]}`}
                  />
                </div>
              </div>
              <div class="relative mt-24 block">
                <PredictionBar
                  disableLink={true}
                  combatId={id}
                  overlay={true}
                  fighter1={{
                    id: getBoxerById(fighters[0])?.id || '',
                    name: getBoxerById(fighters[0])?.name || '',
                    percentage: 50,
                  }}
                  fighter2={{
                    id: getBoxerById(fighters[1])?.id || '',
                    name: getBoxerById(fighters[1])?.name || '',
                    percentage: 50,
                  }}
                />
              </div>
            </article>
          ))
        }
      </div>
    </div>
  </section>
</Layout>

<script>
  import { getPredictionsForPage } from '@/lib/get-predictions-for-page'

  document.addEventListener('astro:page-load', () => {
    getPredictionsForPage()
  })
</script>
