---
import { COMBATS } from '@/consts/combats'
import { countries } from '@/consts/countries'
import { FIGHTERS } from '@/consts/fighters'
import { combate } from '@/consts/pageTitles'
import Layout from '@/layouts/Layout.astro'

const { id } = Astro.params
const combat = COMBATS.find((c) => c.id === id)
if (!combat) return Astro.redirect('/404')
const fighter1 = FIGHTERS.find((f) => f.id === combat?.fighters[0])
const fighter2 = FIGHTERS.find((f) => f.id === combat?.fighters[1])

const fighter1Country = countries.find((c) => c.id === fighter1?.country)
const fighter2Country = countries.find((c) => c.id === fighter2?.country)
---

<Layout title={combate(fighter1?.name, fighter2?.name)}>
  <div
    class="mask-fade-bottom absolute inset-0 w-full bg-[url('/images/hero.avif')] bg-cover bg-center"
  >
  </div>

  <section class="relative mx-auto mt-24 min-h-screen max-w-6xl p-6">
    <!-- Cartelera -->
    <div class="relative flex h-full w-full p-2">
      <!-- Primer Combatiente -->
      <div
        class="custom-clip animate-crash relative h-auto w-1/2 rotate-180 overflow-hidden bg-gradient-to-b from-black/50 to-pink-900/50 transition-transform duration-200 hover:scale-105"
      >
        <h3
          class="text-theme-seashell vertical-text animate-slide-in-bottom animate-delay-800 absolute end-0 right-0 z-10 rotate-180 text-2xl leading-[100%] font-medium md:text-6xl"
        >
          {fighter1?.name.toLocaleLowerCase()}
        </h3>
        <a
          class="flex h-full w-full items-center justify-center pb-8"
          href={`/luchador/${fighter1?.id}`}
        >
          <img
            src={`/images/fighters/big/${fighter1?.id}.webp`}
            alt={`Imagen de ${fighter1?.name}`}
            decoding="async"
            loading="eager"
            class="mask-fade-bottom max-h-[600px] rotate-180"
          />
          <!-- <img
              src={fighter1Country?.image.src}
              alt={`Bandera de ${fighter1Country?.name ?? 'Desconocido'}`}
              class="absolute top-8 md:top-20 left-1/2 transform -translate-x-1/2 -translate-y-1/2 h-auto w-16 md:w-52 rotate-180 inline-flex"
            /> -->
        </a>
        <div class="health-bar">
          <div class="health" style="width: 70%;"></div>
        </div>
      </div>

      <!-- Versus Letra o Imagen -->
      <img
        src="/images/versus.webp"
        class="animate-slide-out-bottom absolute top-1/2 left-1/2 z-20 size-24 -translate-x-1/2 -translate-y-1/2 transform delay-1000 md:size-50"
        alt="Imagen de Versus"
      />

      <!-- Segundo Combatiente -->
      <div
        class="custom-clip animate-crash relative h-auto w-1/2 overflow-hidden bg-gradient-to-b from-black/50 to-pink-900/50 transition-transform duration-200 hover:scale-105"
      >
        <!-- Esquina Derecha -->
        <h3
          class="text-theme-seashell vertical-text animate-slide-in-top animate-delay-800 absolute end-0 right-0 z-10 text-2xl leading-[100%] font-medium md:text-6xl"
        >
          {fighter2?.name.toLocaleLowerCase()}
        </h3>
        <a
          class="mt-8 flex h-full w-full items-center justify-center"
          href={`/luchador/${fighter2?.id}`}
        >
          <img
            src={`/images/fighters/big/${fighter2?.id}.webp`}
            alt={`Imagen de ${fighter2?.name}`}
            decoding="async"
            loading="eager"
            class="mask-fade-bottom max-h-[600px] object-cover"
          />
        </a>
        <div class="health-bar">
          <div class="health" style="width: 70%;"></div>
        </div>
      </div>
    </div>

    <!-- Informacion -->
    <div class="mt-16 flex flex-col gap-8 p-3">
      <!-- Caracteristicas -->
      <div class="-skew-1 bg-black/60">
        <h2 class="text-md text-theme-seashell my-4 text-center font-bold md:text-2xl">
          Características
        </h2>
        <p
          class="text-md text-theme-turquoise mx-auto mt-4 text-center font-semibold text-wrap md:text-2xl"
        >
          datos relevantes de los boxeadores
        </p>

        <div class="my-8 grid grid-cols-3 gap-4">
          <div class="text-theme-seashell space-y-2 text-right text-sm font-bold md:text-2xl">
            <p>{fighter1?.age} años</p>
            <p>{fighter1?.gender}</p>
            <p>{fighter1?.height} mts</p>
            <p>{fighter1?.weight} kg</p>
            <p>{fighter1Country?.name.toLocaleLowerCase()}</p>
            <img
              src={fighter1Country?.image.src}
              alt={`Bandera de ${fighter1Country?.name ?? 'Desconocido'}`}
              class="inline-flex h-auto w-16 md:w-25"
            />
          </div>
          <div class="text-theme-seashell space-y-2 text-center text-sm font-bold md:text-2xl">
            <p>EDAD</p>
            <p>GÉNERO</p>
            <p>ALTURA</p>
            <p>PESO</p>
            <p>PAÍS</p>
          </div>
          <div class="text-theme-seashell space-y-2 text-left text-sm font-bold md:text-2xl">
            <p>{fighter2?.age} años</p>
            <p>{fighter2?.gender}</p>
            <p>{fighter2?.height} mts</p>
            <p>{fighter2?.weight} kg</p>
            <p>{fighter2Country?.name.toLocaleLowerCase()}</p>
            <img
              src={fighter2Country?.image.src}
              alt={`Bandera de ${fighter2Country?.name ?? 'Desconocido'}`}
              class="inline-flex h-auto w-16 md:w-25"
            />
          </div>
        </div>
      </div>

      <div class="bg-black/70">
        <!-- Pronostico -->
        <h2 class="text-md text-theme-seashell my-4 text-center font-bold md:text-2xl">
          pronóstico
        </h2>
        <p
          class="text-md text-theme-turquoise mx-auto mt-4 text-center font-semibold text-wrap md:text-2xl"
        >
          estadísticas del combate por votaciones.
        </p>
        
       
      </div>
    </div>
    <div class="flex items-center justify-between w-full p-4">
      <img src={`/images/fighters/cards/${fighter1?.id}.webp`} alt="Luchador 1" class="w-60 h-60 border-radius-50% border-2px solid #fff transition-transform duration-200 hover:scale-105">
      <div class="health-bar bg-#333 border-2px solid #fff radius-50% overflow-hidden position-relative margin-10">
        <div class="bg-red-600 h-96 transition width 0.3s" style="width: 10%;"></div>
        <button onclick="voteForFighter('fighter1')">Vota</button>
      </div>
      <div class="health-bar w-20 h-20 bg-#333 border-2px solid #fff radius-50% overflow-hidden position-relative margin-10" style="direction: rtl;">
        <div class="bg-red-600 h-96 transition width 0.3s " style="width: 10%; transform: scaleX(-1);"></div>
      </div>
      <button onclick="voteForFighter('fighter2')" style="border: none; background: none; padding: 0;">
        <img src={`/images/fighters/cards/${fighter2?.id}.webp`} alt="Luchador 2" class="w-60 h-60 border-radius-50% border-2px solid #fff transition-transform duration-200 hover:scale-105">
      </button>
    </div>
   
  </section>
  <style>
   
    .custom-clip {
      clip-path: polygon(15% 0%, 100% 0%, 100% 100%, 0% 100%);
    }

    .vertical-text {
      writing-mode: vertical-lr;
      text-orientation: upright;
    }

    .animate-crash {
      animation: crash 1s linear forwards;
    }

    @keyframes crash {
      0% {
        transform: translateX(100px);
        box-shadow: 0 0 0 rgba(255, 255, 255, 0); /* Sin sombra */
        opacity: 0;
      }
      40% {
        transform: translateX(-10px);
        box-shadow: 10px 0 20px rgba(255, 255, 255, 0.6); /* Sombra visible más intensa */
        opacity: 1;
      }
      60% {
        transform: translateX(50px);
        box-shadow: 10px 0 20px rgba(255, 255, 255, 0.6); /* Mantener sombra */
      }
      80% {
        transform: translateX(0);
        box-shadow: 10px 0 20px rgba(255, 255, 255, 0.6); /* Mantener sombra */
      }
      100% {
        transform: translateX(-10px);
        box-shadow: 10px 0 20px rgba(255, 255, 255, 0.6); /* Mantener sombra */
      }
    }

    .health-bar {
      width: 300px;
      height: 30px;
      background-color: #333;
      border: 2px solid #fff;
      border-radius: 5px;
      overflow: hidden;
      position: relative;
      margin: 10px;
    }

  
  </style>

 
</Layout>
