---
import { Image } from "astro:assets"

import BackgroundVideo from "@/components/Combates/BackgroundVideo.astro"
import { COMBATS } from "@/consts/combats"
import Layout from "@/layouts/Layout.astro"
import CombatFeatures from "@/sections/CombatFeatures.astro"

const getCombatById = (id: string) => {
	return COMBATS.find((combat) => combat.id === id)
}

const getBoxerNames = (boxerIds: string[]) => {
	return boxerIds.map((boxerId) => boxerId)
}

export const getStaticPaths = () => {
	return COMBATS.map((combat) => ({
		params: { id: combat.id },
	}))
}

const { id } = Astro.params
const combatData = getCombatById(id)
const boxerNames = combatData ? getBoxerNames(combatData.boxers) : []

if (!combatData) {
	return {
		status: 404,
	}
}

const formatter = new Intl.ListFormat("es", {
	style: "short",
	type: "conjunction",
})

const formattedBoxerNames = formatter.format(boxerNames)
const [imageWidth, imageHeight] = combatData.titleSize

export const prerender = true
---

<Layout
	title={`Combate #${combatData.number} - La Velada del Año IV`}
	description={`Combate entre ${formattedBoxerNames} en La Velada del Año IV`}
	image={`https://cdn.lavelada.dev/matches/og-${id}-min.jpg`}
>
	<BackgroundVideo id={id} />
	<main class="pointer-events-none md:-mt-12">
		<div class="relative flex h-[60vh] w-full items-center justify-center md:h-[76vh]">
			<Image
				width={imageWidth}
				height={imageHeight}
				transition:name={`title-image-${id}`}
				loading={"eager"}
				class="inset-0 h-auto max-h-96 w-full max-w-80 scale-100 object-contain sm:scale-110 lg:max-w-3xl"
				src={`https://cdn.lavelada.dev/matches/title-${id}.webp`}
				alt={`Fotografía del combate entre ${boxerNames.join(", ")}`}
			/>
		</div>
		<div class="pointer-events-auto">
			{combatData.boxers.length <= 4 && <CombatFeatures boxerIds={combatData.boxers} />}
		</div>
	</main>
</Layout>
