---
import { Image } from "astro:assets"

import BackgroundVideo from "@/components/Combates/BackgroundVideo.astro"
import { COMBATS, REY_DE_LA_PISTA_ID } from "@/consts/combats"
import Layout from "@/layouts/Layout.astro"
import CombatFeatures from "@/sections/CombatFeatures.astro"
import CombatVideo from "@/sections/CombatVideo.astro"
import Forecasts from "@/sections/Forecasts.astro"

const getCombatById = (id: string) => {
	return COMBATS.find((combat) => combat.id === id)
}

const getBoxerNames = (boxerIds: string[]): string[] => {
	return boxerIds.map((boxerId) => `Boxeador ${boxerId}`)
}

const createImgRoute = (combateNumber: number, slug: string) => {
	return `https://cdn.lavelada.dev/boxers/vote/vote-${combateNumber}-${slug}.webp`
}

export const getStaticPaths = () => {
	return COMBATS.map((combat) => ({
		params: { id: combat.id },
	}))
}

const { id } = Astro.params
const combatData = getCombatById(id)
const boxerNames = combatData ? getBoxerNames(combatData.boxers) : []

if (!combatData) {
	return {
		status: 404,
	}
}

const { teams, boxers } = combatData
const [slug1, slug2] = teams ?? boxers
const [image1, image2] = [
	{ alt: slug1.replaceAll("-", " "), src: createImgRoute(combatData.number, slug1) },
	{ alt: slug2.replaceAll("-", " "), src: createImgRoute(combatData.number, slug2) },
]

const formatter = new Intl.ListFormat("es", {
	style: "short",
	type: "conjunction",
})

const formattedBoxerNames = formatter.format(boxerNames)
const [imageWidth, imageHeight] = combatData.titleSize
const isKingOfTheHill = combatData.id === REY_DE_LA_PISTA_ID

export const prerender = true
---

<Layout
	title={`${combatData.title}· Combate #${combatData.number} de La Velada del Año IV`}
	description={`Combate entre ${formattedBoxerNames} en La Velada del Año IV`}
	image={`https://cdn.lavelada.dev/matches/og-${id}-min.jpg`}
>
	<BackgroundVideo id={id} />
	<main class="md:-mt-12">
		<div
			class="full-width relative z-[-10] flex h-[60vh] w-screen items-center justify-center overflow-x-clip md:h-[76vh]"
		>
			{
				!isKingOfTheHill && (
					<img
						transition:name={`${combatData.id}-member-1`}
						decoding="async"
						src={image1.src}
						alt={image1.alt}
						style="mask-image: linear-gradient(black 90%, transparent 100%);"
						class="relative left-36 h-[600px] w-auto md:h-[1000px] xl:-left-10 xl:h-[1200px]"
					/>
				)
			}
			<Image
				width={imageWidth}
				height={imageHeight}
				transition:name={`title-image-${id}`}
				loading={"eager"}
				class="inset-0 z-10 h-auto max-h-96 max-w-80 scale-100 object-contain sm:scale-110 lg:max-w-xl lg:scale-90"
				src={`https://cdn.lavelada.dev/matches/title-${id}.webp`}
				alt={`Fotografía del combate entre ${boxerNames.join(", ")}`}
			/>
			{
				!isKingOfTheHill && (
					<img
						transition:name={`${combatData.id}-member-2`}
						decoding="async"
						src={image2.src}
						alt={image2.alt}
						style="mask-image: linear-gradient(black 90%, transparent 100%);"
						class="relative right-36 h-[600px] w-auto md:h-[1000px] xl:-right-10 xl:h-[1200px]"
					/>
				)
			}
		</div>
		<CombatVideo combatId={id} />
		<div class="pointer-events-auto">
			{combatData.boxers.length <= 4 && <CombatFeatures boxerIds={combatData.boxers} />}
		</div>
		<Forecasts combatId={id} />
	</main>
</Layout>

<style>
	.full-width {
		width: 100vw;
		position: relative;
		left: 50%;
		right: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
	}
</style>
