---
import Layout from '@/layouts/Layout.astro'
import { COMBATS } from '@/consts/combats'
import { combates } from '@/consts/pageTitles'
---

<Layout title={combates}>
  <section class="min-h-screen w-full">
    <div
      class="mask-fade-bottom absolute inset-0 w-full bg-[url('/images/hero.avif')] bg-cover bg-center"
    >
    </div>

    <div>
      <div id="landing" class="mt-40 mb-32 text-center">
        <h1
          class="text-theme-seashell animate-fade-in animate-delay-300 mt-4 -skew-3 text-4xl leading-[100%] font-medium [text-shadow:_5px_5px_10px_rgb(0_0_0_/_40%)] md:text-6xl"
        >
          <strong>LISTA DE LOS<br />COMBATES</strong>
        </h1>
      </div>

      <div
        id="combats-container"
        class="mx-auto mb-32 grid max-w-7xl grid-cols-1 gap-16 md:grid-cols-2 md:gap-40"
      >
        {
          COMBATS.map(({ id, number, fighters, title }) => (
            <a
              class="inline-block"
              href={`combates/${id}`}
              title={`Ir al combate ${number} de ${title}`}
            >
              <div class="group animate-fade-in animate-delay-200 relative flex h-[40vh] w-full gap-4 sm:h-[50vh]">
                {fighters.map((fighter, index) => (
                  <div class="w-1/2 transition-transform duration-300 group-hover:scale-105">
                    <img
                      src={`/images/fighters/big/${fighter}.webp`}
                      class={`${index === 0 ? 'animate-fade-in-right' : 'animate-fade-in-left'} animate-duration-slower animate-delay-900 h-full w-full bg-gradient-to-t from-gray-50/40 via-gray-50/20 to-transparent object-cover object-top`}
                      alt={`Imagen de ${fighter}`}
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                ))}

                <div class="absolute bottom-0 z-30 flex h-auto w-full -skew-4 flex-col items-center justify-center p-8 transition-transform duration-300 group-hover:scale-90">
                  <img
                    src={`/images/fighters/text/${fighters[0]}.png`}
                    loading="lazy"
                    decoding="async"
                    class="animate-fade-in-down animate-duration-slower animate-delay-1000 w-3/4"
                    alt=""
                  />
                  <img
                    src="/images/versus.png"
                    class="animate-fade-in animate-duration-slower animate-delay-1000 my-4 h-auto w-16"
                    loading="lazy"
                    decoding="async"
                    alt=""
                  />
                  <img
                    src={`/images/fighters/text/${fighters[1]}.png`}
                    loading="lazy"
                    decoding="async"
                    class="animate-fade-in-up animate-duration-slower animate-delay-1000 w-3/4"
                    alt=""
                  />
                </div>
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </section>
</Layout>
