---
import Layout from '@/layouts/Layout.astro'
import Sponsors from "@/components/Sponsors.astro"
import { COMBATS} from "@/consts/combats"
---
<Layout>
  <section class="min-h-screen w-full">
    <div
      class="mask-fade-bottom absolute inset-0 w-full bg-[url('/images/hero.png')] bg-cover bg-center"
    >
    </div>

    <div class=" flex w-full flex-col items-center text-center">
      
      <div id="landing" class="absolute top-0 flex w-full flex-col items-center py-16">

        <figure class="animate-fade-in relative -mt-10">
          <img
            class="relative z-20 h-auto w-48"
            src="/images/logo.png"
            fetchpriority="high"
            alt="La Velada del Año V"
            decoding="async"
          />
          <div class="absolute top-0 z-0 size-64 bg-pink-400/80 blur-2xl"></div>
        </figure>
        
        <div>  
          <h3
            class="text-theme-seashell text-6xl -skew-3 animate-fade-in animate-delay-300 mt-4 leading-[100%] font-light"
          >
            <strong>lista de los</strong>  <br /><strong>combates</strong>
          </h3>
        </div>
      </div>
  
      <div id="combats-container" class="relative top-96 grid grid-cols-1 md:grid-cols-2 max-w-7xl mx-auto gap-4 md:gap-8 mt-10 mb-72 p-6">
        {
          COMBATS.map ( ({id,number,fighters,title}) => ( 
            <a
              class="inline-block " 
              href={`combate/${id}`}
              title={`Ir al combate ${number} de ${title}`}
              >
              <div class="relative w-full h-[40vh] sm:h-[50vh] flex group  animate-fade-in animate-delay-200">
                { fighters.map((fighter,index) => (
                  <img 
                    src={`/images/fighters/big/${fighter}.webp`} 
                    class={`z-20 w-1/2 object-contain h-full ml-5 ${ index === 0 ? "ml-5 lg:ml-10" : "-ml-40 lg:-ml-20"} group-hover:scale-110 transition-transform duration-300 size-96 mask-fade-bottom`} 
                    alt={`Imagen de ${fighter}`}
                    loading="lazy"
                    decoding="async"/>
                  ))
                }
                
                <div class="absolute bottom-0 p-8 w-full h-auto -skew-4 flex flex-col items-center justify-center z-30 group-hover:scale-90 transition-transform duration-300">
                  <img src={`/images/fighters/text/${fighters[0]}.png`} loading="lazy" decoding="async" class="w-3/4" alt=""/>
                  <img src="/images/versus.png" class="w-24 h-auto" loading="lazy" decoding="async" alt=""/>
                  <img src={`/images/fighters/text/${fighters[1]}.png`} loading="lazy" decoding="async" class="w-3/4" alt=""/>
                </div>

                <div class="absolute bottom-0 bg-gradient-to-b from-pink-900/30 group-hover:from-pink-900/20 from-60% to-transparent w-full h-2/3  z-10 transition-colors duration-300"></div>
              </div>
            </a>
          ))
        }     
   
      </div>
      
    </div>

  </section>
  <Sponsors />
</Layout>