---
import Layout from '@/layouts/Layout.astro'
import { COMBATS } from '@/consts/combats'
import { combates } from '@/consts/pageTitles'

const getPinkStyles = () => {
  return 'group-hover:via-theme-tickle-me-pink group-hover:via-30% group-hover:from-theme-tickle-me-pink  group-hover:to-gray-50/40'
}

const getCyanStyles = () => {
  return 'group-hover:from-theme-turquoise group-hover:via-theme-turquoise group-hover:to-gray-50/40'
}
---

<Layout title={combates}>
  <section class="min-h-screen w-full bg-linear-to-b from-[#D58291] from-10% to-[#f19fca] to-90%">
    <div
      class="mask-fade-bottom absolute inset-0 w-full bg-[url('/images/hero.avif')] bg-cover bg-center"
    >
    </div>

    <div>
      <div id="landing" class="mt-40 mb-32 text-center">
        <h1
          class="text-theme-seashell animate-fade-in animate-delay-300 mx-auto mt-4 max-w-screen -skew-3 text-4xl leading-[100%] font-medium [text-shadow:_5px_5px_10px_rgb(0_0_0_/_40%)] md:max-w-2/3 md:text-6xl"
        >
          <strong>LISTA DE LOS<br />COMBATES</strong>
        </h1>
      </div>

      <div
        id="combats-container"
        class="relative z-10 mx-auto mb-32 grid max-w-7xl grid-cols-1 gap-2 px-4 md:grid-cols-2 md:gap-16 md:gap-40 md:px-0"
      >
        {
          COMBATS.map(({ id, number, fighters, title }) => (
            <a
              class={`inline-block ${number === 7 ? 'col-span-full mx-auto' : ''}`}
              href={`combates/${id}`}
              title={`Ir al combate ${number} de ${title}`}
            >
              <div class="group animate-fade-in animate-delay-200 relative mb-20 flex h-[40vh] w-full gap-4 sm:h-[50vh] md:mb-0">
                {fighters.map((fighter, index) => (
                  <div class="w-1/2 transition-transform duration-300 group-hover:scale-105">
                    <img
                      src={`/images/fighters/big/${fighter}.webp`}
                      class={`${index === 0 ? 'animate-fade-in-right' : 'animate-fade-in-left'} animate-duration-slower animate-delay-900 size-full border-transparent bg-gradient-to-t from-gray-50/60 via-gray-50/30 to-transparent object-cover object-top grayscale-100 transition-colors duration-300 ease-in-out group-hover:grayscale-0 ${index === 0 ? getPinkStyles() : getCyanStyles()} group-hover:border-theme-seashell group-hover:border-2`}
                      alt={`Imagen de ${fighter}`}
                      loading="lazy"
                      decoding="async"
                    />
                  </div>
                ))}

                <div class="absolute bottom-0 z-30 flex h-auto w-full -skew-4 flex-col items-center justify-center p-8 transition-transform duration-300 group-hover:scale-90">
                  <img
                    src={`/images/fighters/text/${fighters[0]}.png`}
                    loading="lazy"
                    decoding="async"
                    class="animate-fade-in-down animate-duration-slower animate-delay-900 w-3/4 -translate-x-40 transition-all group-hover:translate-x-0"
                    alt={`Nombre de ${fighters[0]} representada en intensos tonos rosa y púrpura.`}
                  />
                  <img
                    src="/images/versus.png"
                    class="my-4 h-auto w-16 opacity-0 transition-all group-hover:opacity-100"
                    loading="lazy"
                    decoding="async"
                    alt='La palabra "versus" representada en intensos tonos rosa y púrpura.'
                  />
                  <img
                    src={`/images/fighters/text/${fighters[1]}.png`}
                    loading="lazy"
                    decoding="async"
                    class="animate-fade-in-up animate-duration-slower animate-delay-900 w-3/4 translate-x-40 transition-all group-hover:translate-x-0"
                    alt={`Nombre de ${fighters[1]} representada en intensos tonos rosa y púrpura.`}
                  />
                </div>
              </div>
            </a>
          ))
        }
      </div>
    </div>

    <!-- Nubes del fondo -->
    <img src={'/images/clouds/cloud_1.webp'} class="absolute -start-40 top-[70vh] z-0" />
    <img src={'/images/clouds/cloud_2.webp'} class="absolute -end-20 top-[75vh] z-0" />

    <img src={'/images/clouds/cloud_1.webp'} class="absolute -start-20 top-[120vh] z-0" />
    <img src={'/images/clouds/cloud_1.webp'} class="absolute end-10 top-[130vh] z-0" />

    <img src={'/images/clouds/cloud_2.webp'} class="absolute -end-80 top-[190vh] z-0" />
    <img src={'/images/clouds/cloud_3.webp'} class="absolute top-[180vh] z-0" />

    <img src={'/images/clouds/cloud_2.webp'} class="absolute -start-20 top-[250vh] z-0" />
    <img src={'/images/clouds/cloud_1.webp'} class="absolute end-20 top-[240vh] z-0" />
  </section>
</Layout>
