---
import Layout from '@/layouts/Layout.astro'
import { COMBATS } from '@/consts/combats'
import { combates } from '@/consts/pageTitles'

const description =
  'Descubre todos los combates de La Velada del Año V, el evento de boxeo de Ibai Llanos con los mejores creadores de contenido.'
const canonical = 'https://www.infolavelada.com/combates'

export const prerender = true
---

<Layout title={combates} description={description} canonical={canonical}>
  <section class="min-h-screen w-full">
    <div
      class="mask-fade-bottom absolute inset-0 w-full bg-[url('/images/hero.avif')] bg-cover bg-center"
    >
    </div>

    <h2
      class="animate-fade-in animate-delay-300 bg-gradient-to-r from-sky-100 to-pink-300 bg-clip-text pt-24 text-center text-2xl font-bold text-transparent drop-shadow-[0_1.2px_1.2px_rgba(0,0,0,0.8)]"
    >
      LOS COMBATES
    </h2>

    <div class="flex w-full flex-col items-center text-center">
      <div
        id="combats-container"
        class="relative mx-auto mb-72 mt-10 flex max-w-7xl flex-wrap justify-center gap-4 p-6 md:gap-8"
      >
        {
          COMBATS.map(({ id, number, fighters, title }) => (
            <a
              class="inline-block w-full md:w-[calc(50%-1rem)]"
              href={`combates/${id}`}
              title={`Ir al combate ${number} de ${title}`}
            >
              <div
                class={`combat group ${number == 7 ? 'animate-fade-in-up' : number % 2 == 0 ? 'animate-fade-in-left' : 'animate-fade-in-right'} animate-delay-200 lg relative flex h-[40vh] w-full sm:h-[50vh]`}
              >
                {fighters.map((fighter, index) => (
                  <img
                    src={`/images/fighters/big/${fighter}.webp`}
                    class={`z-20 h-full w-1/2 object-contain ${index === 0 ? 'ml-5 lg:ml-10' : '-ml-10 lg:-ml-20'} mask-fade-bottom size-96 transition-transform duration-300 group-hover:scale-110`}
                    alt={`Imagen de ${fighter}`}
                    loading="lazy"
                    decoding="async"
                  />
                ))}

                <div class="-skew-4 absolute bottom-0 z-30 flex h-auto w-full flex-col items-center justify-center p-8 transition-transform duration-300 group-hover:scale-90">
                  <img
                    src={`/images/fighters/text/${fighters[0]}.webp`}
                    loading="lazy"
                    decoding="async"
                    class="w-3/4"
                    alt=""
                  />
                  <img
                    src="/images/versus.webp"
                    class="h-auto w-24"
                    loading="lazy"
                    decoding="async"
                    alt=""
                  />
                  <img
                    src={`/images/fighters/text/${fighters[1]}.webp`}
                    loading="lazy"
                    decoding="async"
                    class="w-3/4"
                    alt=""
                  />
                </div>

                <div class="absolute bottom-0 z-10 h-2/3 w-full bg-gradient-to-b from-pink-900/30 from-60% to-transparent transition-colors duration-300 group-hover:from-pink-900/20" />
              </div>
            </a>
          ))
        }
      </div>
    </div>
  </section>
</Layout>

<style>
  .combat {
    animation-timeline: view(block 100% 10%);
  }
</style>
