---
import { siteConfig } from '@/data/site.config'

export interface Props {
	title: string
	shortDescription: string
	description: string
	ogImage: string
}

const { author, ogLocale, type, keywords, canonicalUrl, twitterSite } = siteConfig
const { title, shortDescription, description, ogImage } = Astro.props
const socialImageURL = ogImage

const titleSeparator = "•"

const siteTitle = `${title} ${titleSeparator} ${shortDescription}`
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalUrl} />

<!-- Primary Meta Tags -->
<title>{siteTitle}</title>

<meta name="robots" content="index, follow" />
<meta name="revisit-after" content="7 days" />
<meta name="googlebot" content="index, follow" />

<!-- SEO -->
<meta name="title" content={siteTitle} />
<meta name="description" content={description} />
<meta name="author" content={author} />
<meta name="keywords" content={keywords} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content={type} />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={siteTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={socialImageURL} />

<!-- open graph /whatsapp -->
<meta property="og:site_name" content={siteTitle} />
<meta property="og:type" content={type} />
<meta property="og:image:type" content="image/jpeg" />
<meta property="og:image:width" content="256" />
<meta property="og:image:height" content="256" />
<link itemprop="thumbnailUrl" href={socialImageURL} />

<meta name="og:url" content={canonicalUrl} />
<meta name="og:site_name" content={siteTitle} />
<meta name="og:type" content={type} />
<meta name="og:locale" content={ogLocale} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta name="twitter:site" content={twitterSite} />
<meta name="twitter:creator" content={author} />
<meta property="twitter:title" content={siteTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={socialImageURL} />

<script is:inline>
	window.getThemePreference = () => {
		const localItem = typeof localStorage !== "undefined" && localStorage.getItem("theme")
		if (localItem) return localItem
		return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"
	}

	const isDark = window.getThemePreference() === "dark"
	document.documentElement.classList.toggle("dark", isDark)
</script>