---
import Logo from '@/assets/svg/logo.svg'

const { fighter, birthDate } = Astro.props

const generateRandomBars = () => {
  const bars = []
  for (let i = 0; i < 20; i++) {
    // Random width between 4px and 20px
    bars.push(Math.floor(Math.random() * (2 - 1 + 1)) + 2)
  }
  return bars
}

const bars = generateRandomBars()
---

<article
  class="duration-600 w-full max-w-[450px] overflow-hidden rounded-xl border-2 border-white/40 bg-pink-600/40 transition-all hover:scale-105 lg:min-w-[300px]"
>
  <!-- Contenedor principal -->
  <div class="grid w-full grid-flow-row grid-cols-2 lowercase sm:grid-flow-col">
    <!-- Informacion General -->
    <section class="order-2 col-span-2 sm:order-1">
      <!-- Nombre -->
      <section class="col-span-2 mt-0 sm:mt-6">
        <h1
          class="animate-fade-in-up animate-delay-200 text-dark-magenta flex items-center justify-center text-balance bg-pink-200/60 px-2 text-center text-xl font-bold"
        >
          {fighter.realName}
        </h1>
      </section>
      <!-- Otros datos del luchador -->
      <div
        class="animate-fade-in-up animate-delay-200 grid grid-cols-2 gap-4 px-4 py-4 text-left font-normal text-white"
      >
        <section class="flex flex-col">
          <span class="text-dark-magenta text-sm">Edad</span>
          <strong class="text-md">{fighter.age} años</strong>
        </section>
        <section class="flex flex-col">
          <span class="text-dark-magenta text-sm">Peso</span>
          <strong class="text-md">{fighter.weight}kg</strong>
        </section>
        <section class="flex flex-col">
          <span class="text-dark-magenta text-sm">Nacimiento</span>
          <strong class="text-md">{birthDate}</strong>
        </section>
        <section class="flex flex-col">
          <span class="text-dark-magenta text-sm">Altura</span>
          <strong class="text-md">{fighter.height}m</strong>
        </section>
      </div>
    </section>
    <!-- Imagen del luchador -->
    <section
      class="item-center animate-fade-in-up animate-delay-200 order-1 col-span-2 flex justify-center sm:order-2"
    >
      <figure class="w-full max-w-[140px]">
        <img
          class="aspect-[140/186.33] w-full overflow-hidden rounded-bl-none bg-gray-400 object-cover sm:rounded-bl-lg"
          src={`/images/fighters/cards/${fighter.id}.webp`}
          alt={`Tarjeta del boxeador ${fighter.name}`}
        />
      </figure>
    </section>
  </div>

  <!-- Información adicional y código de barras -->
  <footer class="bg-dark-magenta flex items-center justify-between px-2 py-3 pl-4">
    <section class="animate-fade-in-up animate-delay-200 flex items-center space-x-2">
      <figure>
        <img
          class="block h-auto w-8"
          src={`/images/flags/${fighter.country}.webp`}
          alt=`Pais ${fighter.country}`
          decoding="async"
        />
      </figure>
      <strong class="text-md lowercase text-white">{fighter.city}</strong>
    </section>

    <section
      class="animate-fade-in-up animate-delay-200 flex items-center justify-center space-x-2"
    >
      <Logo class="h-8 w-8 text-yellow-200" />
      <div class="flex items-end bg-white py-0.5 pl-0.5">
        {
          bars.map((width) => (
            <span class="mr-0.5 h-[25px] bg-black" style={`width: ${width}px;`} />
          ))
        }
      </div>
    </section>
  </footer>
</article>
