---
import type { Fighters } from '@/types/fighters'
import { countries } from '@/consts/countries'
import BoxerSocialLink from './BoxerSocialLink.astro'

interface BoxerProfileProps {
  fighter: Fighters
}

const { fighter = null } = Astro.props as BoxerProfileProps

const birthDate = fighter?.birthDate.toLocaleDateString('es-ES', {
  year: 'numeric',
  month: 'short',
  day: 'numeric',
})

const details = [
  { label: 'Edad', value: `${fighter?.age} AÑOS` },
  { label: 'Altura', value: `${fighter?.height}M` },
  { label: 'Peso', value: `${fighter?.weight}KG` },
  { label: 'Nacimiento', value: birthDate },
]

const country = countries.find((c) => c.id === fighter?.country)
---

{
  fighter?.id && (
    <section class="relative mt-5 flex w-full flex-col-reverse lg:min-h-screen lg:flex-row">
      {/* Boxeador perfil */}
      <div
        id="fighter-container"
        class="relative mx-auto my-12 flex w-full max-w-2xl flex-col items-center justify-center gap-8 p-6 lg:max-w-6xl lg:flex-row lg:items-start"
      >
        {/* Imagen del Boxeador */}
        <div class="relative w-full max-w-sm flex-shrink-0">
          <img
            src={`/images/fighters/big/${fighter.id}.webp`}
            alt={`Retrato de ${fighter?.name}, participante de La Velada V`}
            class="mask-fade-bottom h-auto w-full object-contain transition-transform duration-700 hover:scale-105"
            transition:name={`image-${fighter.id}`}
          />
        </div>

        {/* Datos del Boxeador */}
        <div class="text-theme-seashell flex w-full flex-col items-start justify-start gap-6">
          {/* Nombre del Boxeador */}
          <div class="flex flex-col items-start gap-2">
            <span class="text-xl font-bold uppercase sm:text-2xl">{fighter.realName}</span>
            <img
              src={`/images/fighters/text/${fighter.id}.webp`}
              alt={`Nombre de ${fighter.name} en texto decorativo`}
              class="h-10 w-auto sm:h-12"
              transition:name={`text-${fighter.id}`}
            />
          </div>

          {/* Biografía */}
          {fighter?.bio && (
            <p class="text-base lowercase leading-relaxed sm:text-lg md:text-xl">{fighter.bio}</p>
          )}

          {/* Estadísticas */}
          <div class="flex flex-col items-start gap-4">
            <span class="text-xl font-bold uppercase sm:text-2xl">estadísticas</span>
            <div class="flex flex-wrap gap-6">
              {details.map((detail) => (
                <div class="flex flex-col gap-1.5 text-sm sm:text-base md:text-lg">
                  <span class="font-bold uppercase">{detail.label}</span>
                  <p class="lowercase">{detail.value}</p>
                </div>
              ))}
            </div>
          </div>

          {/* Nacionalidad */}
          {country?.id && (
            <div class="flex items-center gap-4">
              <img
                src={country?.image.src}
                alt={`Bandera de ${country?.name ?? 'Desconocido'}`}
                class="h-auto w-14 sm:w-20 md:w-24"
              />
              <span class="text-xl font-bold uppercase sm:text-2xl">{fighter?.city}</span>
            </div>
          )}

          {/* Redes */}
          <div class="flex flex-wrap items-center justify-start gap-2 px-1 sm:px-4 lg:px-0">
            {(fighter.socials || [])?.map((item) => (
              <BoxerSocialLink social={item} />
            ))}
          </div>
        </div>
      </div>
    </section>
  )
}

<style>
  #fighter-container {
    grid-template-columns: 1fr;
  }

  @media (min-width: 768px) {
    #fighter-container {
      grid-template-columns: repeat(2, 1fr);
    }

    #fighter-container > a:first-child {
      grid-column: 1 / -1;
    }
  }
</style>
