---
import BoxerTitleName from "@/components/BoxerTitleName.astro"

interface Props {
	readonly id: string
	readonly name: string
	readonly country: string
	readonly countryName?: string
	readonly loading?: "lazy" | "eager"
}

const { name, country, countryName, id, loading } = Astro.props
---

<div
	aria-hidden="true"
	class="absolute inset-0 -z-10 m-auto bg-center bg-no-repeat"
	style="
		background-image: url('/img/effects/boxer-background.png');
		background-size: 45%;
		mask-image: radial-gradient(circle at bottom, transparent 26%, #000 40%);
	"
>
</div>

<picture
	class:list={"boxer-photo aspect-[285/428] h-auto w-full max-w-[460px]"}
	transition:name="boxer-big-image"
>
	<img
		decoding="async"
		class="aspect-[285/428] h-auto w-full object-contain"
		alt={`Fotografía de ${name}`}
		src={`/img/boxers/${id}-big.webp`}
		style="
			filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
			mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
		"
		loading={loading}
	/>
</picture>

<div
	class="absolute bottom-10 z-10 flex max-w-md flex-col items-center justify-center text-wrap md:-bottom-32"
	transition:name="boxer-name"
>
	<BoxerTitleName name={name} />

	<img
		decoding="async"
		transition:name="boxer-flag"
		class:list={"boxer-flag pointer-events-none aspect-[3/2] h-auto w-28 object-contain object-center"}
		alt={`Bandera de ${countryName}`}
		src={`/img/flags/${country}.webp`}
		loading={loading}
	/>
</div>
