---
const { id, name, rival } = Astro.props
---

<a
  class="boxer-card transition hover:-translate-y-3 [&.rival-hovered]:-translate-y-3 w-10 sm:w-14 md:w-16 lg:w-24 xl:w-26 group relative rounded overflow-hidden flex flex-col justify-end before:absolute before:w-full before:transition-300 before:bg-gradient-to-t before:from-pink-950/90 before:via-transparent before:to-transparent before:transition before:translate-y-full [&.rival-hovered]:before:translate-y-0 before:inset-0 [&.rival-hovered]:after:content-[attr(data-id)] after:absolute after:w-full after:p-1 after:text-theme-tickle-me-pink after:text-sm after:opacity-0 [&.rival-hovered]:after:opacity-100 after:duration-300"
  href={`/luchador/${id}`}
  data-id={id}
  data-rival={rival}
>
  <img
    class="aspect-[900/1200] h-full w-full object-cover"
    src={`/images/fighters/cards/${id}.png`}
    alt={`Tarjeta del boxeador ${name}`}
  />

  <div
    class="absolute inset-0 flex flex-col items-center justify-end bg-gradient-to-t from-pink-950/90 via-transparent to-transparent p-1 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
  >
    <h3 class="text-theme-tickle-me-pink text-sm">{name}</h3>
  </div>
</a>

<script>
  document.addEventListener("astro:page-load", () => {
    const boxerCards = document.querySelectorAll(".boxer-card")
    let timeoutId: number | null = null

    boxerCards.forEach((singleBoxerCard) => {
      const id = singleBoxerCard.getAttribute("data-id");

      singleBoxerCard.addEventListener("mouseenter", () => {
        if (timeoutId) {
          clearTimeout(timeoutId)
        }

        const id = singleBoxerCard.getAttribute("data-id")
        if (id) {
          showRival(id);
          // Dispatch a custom event to notify a boxer card id is hovered
          const event = new CustomEvent("boxer-card-hovered", {
            detail: { id },
          })
          document.dispatchEvent(event)
        }
      })

      singleBoxerCard.addEventListener("mouseleave", () => {
        id && hideRival(id)
        timeoutId = setTimeout(() => {
          const event = new CustomEvent("boxer-card-exit")
          document.dispatchEvent(event)
        }, 500)
      })
    })
  })

  function showRival(rival:string){
    if(!rival) return

    document.querySelector(`a[data-rival="${rival}"]`)?.classList.add('rival-hovered')
  }

  function hideRival(rival:string){
    if(!rival) return

    document.querySelector(`a[data-rival="${rival}"]`)?.classList.remove('rival-hovered')
  }
</script>
