---
const { id, name } = Astro.props
---

<a
  class="clip p-[2px] boxer-card inline-block transition hover:-translate-y-3 w-10 sm:w-14 md:w-16 lg:w-24 xl:w-26 group relative rounded overflow-hidden"
  href={`/luchador/${id}`}
  data-id={id}
>
  <img
    class="clip aspect-[900/1200]  object-cover grayscale-25 group-hover:grayscale-0"
    src={`/images/fighters/cards/${id}.png`}
    alt={`Tarjeta del boxeador ${name}`}
  />

   <div
    class="absolute inset-0 md:pb-8 flex flex-col items-center justify-end bg-gradient-to-t from-pink-950/90  via-transparent to-transparent p-1 opacity-0 group-hover:opacity-100 transition-opacity duration-300"
  >
    <h3 class="text-theme-tickle-me-pink text-sm">{name}</h3>
  </div> 
</a>

<style>
  .clip {
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  }
  
  .clip:hover {
    animation: backgroundselect 1s infinite both;
  
  }
  
  .pulsing {
    animation: backgroundselect 1s infinite ;
  } 
  
  @keyframes backgroundselect {
    0% {
      background: transparent; /* Transparente */
    }
    50% {
      background: rgba(255, 255, 255, 0.797)
    }
    100% {
      background:  transparent;
    }
  }
  
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const boxerCards = document.querySelectorAll(".boxer-card")
    let timeoutId: number | null = null

    boxerCards.forEach((singleBoxerCard) => {
      singleBoxerCard.addEventListener("mouseenter", () => {
        if (timeoutId) {
          clearTimeout(timeoutId)
        }

        const id = singleBoxerCard.getAttribute("data-id")
        if (id) {
          // Dispatch a custom event to notify a boxer card id is hovered
          const event = new CustomEvent("boxer-card-hovered", {
            detail: { id },
          })
          document.dispatchEvent(event)
        }
      })

      singleBoxerCard.addEventListener("mouseleave", () => {
        timeoutId = setTimeout(() => {
          const event = new CustomEvent("boxer-card-exit")
          document.dispatchEvent(event)
        }, 500)
      })
    })
  })
</script>
