---
import BoxerCard from './BoxerCard.astro'

const { id, name, versus, class: extraClass, group } = Astro.props

interface Props {
  id: string
  name: string
  versus: string
  class: string
  group: number
}
---
<label class="inline-block cursor-pointer">
  <input
    type="radio"
    value={id}
    class="peer hidden"
    name={`group-${group}`}
    />
    <BoxerCard
      id={id}
      name={name}
      class={`peer-checked:shadow-xl peer-checked:border-2 peer-checked:border-pink-700 peer-checked:grayscale-0 peer-checked:opacity-100 grayscale-100 opacity-60 boxer-card ${extraClass} inline-block transition-all w-32 group relative rounded-lg duration-300 hover:scale-110 hover:shadow-lg hover:z-20`}
      versus={versus}
    />
</label>

<script>
  document.addEventListener('astro:page-load', () => {
    const boxerCards = document.querySelectorAll('.boxer-card')
    let timeoutId: ReturnType<typeof setTimeout> | null = null
    let versusCard: HTMLAnchorElement | null = null
    let versusCardDiv: HTMLDivElement | null = null

    boxerCards.forEach((singleBoxerCard, index) => {
      singleBoxerCard.addEventListener('click', () => {
        if (timeoutId) {
          clearTimeout(timeoutId)
          timeoutId = null
        }

        const id = singleBoxerCard.getAttribute('data-id')
      })
    })
  })


</script>