---
import type { Boxer } from "@/types/Boxer"

interface Props {
	title: string
	value: Boxer[]
	id: string
}

const { title, value, id } = Astro.props
---

<div class="flex justify-center text-white mix-blend-screen">
	<div class="flex w-full items-start justify-between text-center md:flex-col md:items-center">
		<div class="text-right md:w-full md:text-center">
			{
				value.map((item, index) => (
					<>
						<a
							class="-skew-x-6 transition hover:scale-110 hover:underline"
							href={item.id}
							title={`Visita la página del boxeador ${item.name}`}
							id={id + (index + 1)}
						>
							<img
								src={`/img/boxers/${item.id}-small.webp`}
								class="mx-auto aspect-square h-32 object-contain"
								alt={`Foto en pequeño del rival ${item.name}`}
								style="
									filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
									mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
								"
							/>
							<span class:list={"text-xl font-bold text-accent "}>{item.name}</span>
						</a>
						{index !== value.length - 1 && <span class="text-xl font-bold text-accent"> / </span>}
					</>
				))
			}
		</div>
		<h4>{title}</h4>
	</div>
</div>
