---
import type { Boxer } from "@/consts/boxers"

interface Props {
	leftBoxer: Boxer
	rigthBoxer: Boxer
}

const { leftBoxer, rigthBoxer } = Astro.props
---

<article class="relative flex max-h-[700] min-h-[600px] w-full">
	<div
		class="flex h-full w-svw items-end justify-center gap-4 overflow-hidden sm:gap-12"
		style={`
			mask-image: linear-gradient(to top, transparent 0%, #000 15%);
		`}
	>
		<picture class="-mb-12 aspect-[9/14] min-w-96">
			<source src={`/img/boxers/${leftBoxer.id}-big.avif`} type="image/avif" />
			<img
				class="h-full object-contain object-bottom drop-shadow-2xl"
				src={`/img/boxers/${leftBoxer.id}-big.webp`}
				alt={leftBoxer.name}
			/>
		</picture>
		<picture class="-mb-12 aspect-[9/14] min-w-96">
			<source src={`/img/boxers/${rigthBoxer.id}-small.avif`} type="image/avif" />
			<img
				class="h-full object-contain object-bottom drop-shadow-2xl"
				src={`/img/boxers/${rigthBoxer.id}-big.webp`}
				alt={rigthBoxer.name}
			/>
		</picture>
	</div>
	<div class="absolute bottom-20 flex w-full -skew-y-12 font-atomic">
		<div class="mx-auto flex w-full max-w-xs flex-col sm:max-w-md md:flex-row md:justify-center">
			<span class="w-min text-7xl text-accent sm:text-8xl md:-mt-20"
				>{leftBoxer.name.toLowerCase()}</span
			>
			<div class="flex flex-col gap-y-2 md:ml-8">
				<span class="text-right text-5xl text-primary md:text-left">versus</span>
				<span class="w-min text-7xl text-accent sm:text-8xl">{rigthBoxer.name.toLowerCase()}</span>
			</div>
		</div>
	</div>
</article>
