---
interface BoxerCardProps {
  id: string
  name: string
  anchorStyles: string
  imgStyles: string
  nameContainerStyles: string
}

const { id, name, anchorStyles, imgStyles, nameContainerStyles } = Astro.props as BoxerCardProps

---

<a
  class={anchorStyles}
  href={`/luchador/${id}`}
  data-id={id}
>
  <img
    class={imgStyles}
    src={`/images/fighters/cards/${id}.png`}
    alt={`Tarjeta del boxeador ${name}`}
  />

  <div
    class={nameContainerStyles}
  >
    <h3 class="text-theme-tickle-me-pink text-sm">{name}</h3>
  </div>
</a>

<script>
  document.addEventListener("astro:page-load", () => {
      const boxerCards = document.querySelectorAll(".boxer-card")
      let timeoutId: number | null = null

      boxerCards.forEach((singleBoxerCard) => {
        singleBoxerCard.addEventListener("mouseenter", () => {
          if (timeoutId) {
            clearTimeout(timeoutId)
          }

          const id = singleBoxerCard.getAttribute("data-id")
          if (id) {
            // Dispatch a custom event to notify a boxer card id is hovered
            const event = new CustomEvent("boxer-card-hovered", {
              detail: { id },
            })
            document.dispatchEvent(event)
          }
        })

        singleBoxerCard.addEventListener("mouseleave", () => {
          timeoutId = setTimeout(() => {
            const event = new CustomEvent("boxer-card-exit")
            document.dispatchEvent(event)
          }, 500)
        })
      })
  })
</script>
