---
import type { Boxer } from "@/types/Boxer"

interface Props {
	title: string
	value: Boxer[]
	id: string
}

const { title, value, id } = Astro.props

const isKingOfTheTrack = value[0].versus === "rey-de-la-pista"
const isVersus = value[0].versus.length === 2
---

<article class="flex justify-center text-white">
	<div
		class:list=`flex w-full text-center flex-col items-center ${isKingOfTheTrack ? "md:-mt-10 p-5" : "pl-2.5 pr-2.5 pt-2"}`
	>
		<h4>{title}</h4>
		<div
			class:list={isKingOfTheTrack
				? ["grid grid-cols-3"]
				: [
						isVersus
							? "grid grid-cols-2"
							: "flex w-full flex-row flex-wrap justify-center gap-x-2  md:justify-center md:text-center",
					]}
		>
			{
				value.map((item, index) => (
					<a
						class:list={[
							`${isVersus ? "mx-2  p-1" : ""}`,
							`${isKingOfTheTrack ? "p-1" : "bg-slate-50/5 text-xl font-bold text-accent transition hover:scale-110 hover:underline"}`,
						]}
						href={item.id}
						title={`Visita la página del boxeador ${item.name}`}
						id={id + (index + 1)}
					>
						<img
							src={`/img/boxers/${item.id}-small.webp`}
							class:list={
								isKingOfTheTrack
									? ["h-14 object-contain"]
									: ["mx-auto aspect-square h-32 object-contain"]
							}
							alt={`Foto en pequeño del rival ${item.name}`}
							style="
										filter: drop-shadow(0 0 5px rgba(0, 0, 0, .5));
										mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
									"
						/>
						<span
							class:list={[
								"font-atomic text-accent",
								{ "text-[12px]": isKingOfTheTrack },
								{ "text-xl": !isKingOfTheTrack },
							]}
						>
							{item.name.toLowerCase()}
						</span>
					</a>
				))
			}
		</div>
	</div>
</article>
