---
interface Props {
	image: string
	imageAlt: string
	boxerId: string
	boxerName: string
	boxerHref: string
	isSmall?: boolean
}

const { image, imageAlt, boxerId, boxerName, boxerHref, isSmall = false } = Astro.props
---

<a
	href={boxerHref}
	class="group overflow-hidden transition-transform hover:scale-105"
	aria-label={`Ir a la página de ${boxerName}`}
>
	<article>
		<img decoding="async" class="image" src={image} alt={imageAlt} />
		<h3
			class:list={[
				"text-center font-medium uppercase text-white transition-transform group-hover:scale-125 md:group-hover:scale-150",
				isSmall && "text-lg",
				!isSmall && "text-2xl",
			]}
		>
			{boxerName}
		</h3>
		<h4
			data-id={boxerId}
			class:list={[
				"boxer-forecast mt-1 text-center font-semibold text-accent transition-transform group-hover:scale-75",
				isSmall && "text-3xl",
				!isSmall && "text-6xl",
			]}
		>
			&nbsp;
		</h4>
	</article>
</a>

<style>
	.image {
		mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
	}
</style>
