---
const width = "w-6"
const genericHamburgerLine = `h-[2px] ${width} bg-gray-300 transition ease transform duration-300`
---

<button
	id={Astro.props.id}
	class={`group flex h-[20px] ${width} flex-col items-center justify-between lg:hidden relative hamburgerButton`}
	aria-label="hamburguer menu button"
>
	<div
		class={`${genericHamburgerLine}  group-hover:opacity-100 group-[.open]:translate-y-2 group-[.open]:rotate-45 group-[.open]:group-hover:opacity-100`}
	>
	</div>
	<div class={`${genericHamburgerLine} group-[.open]:opacity-0 group-hover:opacity-100}`}></div>
	<div class={`${genericHamburgerLine} group-[.open]:opacity-0 group-hover:opacity-100}`}></div>
	<div
		class={`${genericHamburgerLine} group-[.open]:-translate-y-[0.6rem] group-[.open]:-rotate-45 group-[.open]:group-hover:opacity-100 group-hover:opacity-100`}
	>
	</div>
</button>

<script>
	document.addEventListener("astro:page-load", () => {
		document.querySelectorAll(".hamburgerButton").forEach((button) => {
			button.addEventListener("click", () => {
				const hamburgerButton = document.querySelector(".hamburgerButton")
				hamburgerButton?.classList.toggle("open")
				hamburgerButton?.dispatchEvent(new CustomEvent("hamburgerButtonClicked"))
			})
		})
	})
</script>
