---
import Countdown from "@/components/Countdown.astro"
import { SPONSORS } from "@/consts/sponsors"
import { checkIsChannelOnlineInTwitch } from "@/utils/check-is-channel-online-in-twitch"
const isOnline = await checkIsChannelOnlineInTwitch("ibai")

const twitchParentUrl = import.meta.env.PROD ? "www.infolavelada.com" : "localhost"
const twitchUrl = `https://player.twitch.tv/?channel=ibai&parent=${twitchParentUrl}`

const EVENT_TIMESTAMP = 1741631400000
const currentTimestamp = new Date().getTime()

const timeIsExpired = currentTimestamp > EVENT_TIMESTAMP
const showStreamingEvent = isOnline && timeIsExpired
---

<section
	class="relative min-h-screen w-full overflow-hidden bg-[var(--background-color)] pt-10 pb-20"
>
	<img
		src="/img/background-la-velada.webp"
		class="animate-fade-in pointer-events-none fixed top-0 z-0 h-screen w-screen object-cover select-none"
		draggable="false"
	/>
	<h1 class="sr-only">Presentación de la Velada del Año IV</h1>

	<!-- Sponsors -->
	<div
		class="animate-fade-in animate-delay-700 relative mx-auto mb-2 flex max-w-6xl flex-wrap items-center justify-center gap-2 px-4 md:gap-4"
	>
		{
			SPONSORS.filter(({ id }) =>
				["alsa", "spotify", "revolut", "vicio", "coca-cola"].includes(id)
			).map(({ id, name, url, image, icon: Icon }) => (
				<a
					class="text-[var(--color-wine)] opacity-70 transition hover:scale-105 hover:opacity-100 focus:scale-105"
					href={url}
					target="_blank"
					rel="noopener noreferrer"
					title={`Visita la página del patrocinador ${name}`}
					aria-label={`Link con el logo de ${name} que lleva a ${url}`}
				>
					<Icon width={image.width} height={image.height} />
				</a>
			))
		}
	</div>

	<!-- Secondary Sponsors Row -->
	<div
		class="animate-fade-in animate-delay-800 relative mx-auto mb-7 flex max-w-4xl flex-wrap items-center justify-center gap-2 px-4 md:mb-20 md:gap-4"
	>
		{
			SPONSORS.filter(({ id }) =>
				["infojobs", "grefusa", "cerave", "nothing", "mahou", "maxibon"].includes(id)
			).map(({ name, url, image, icon: Icon }) => (
				<a
					class="text-[var(--color-wine)] opacity-70 transition hover:scale-105 hover:opacity-100 focus:scale-105"
					href={url}
					target="_blank"
					rel="noopener noreferrer"
					title={`Visita la página del patrocinador ${name}`}
					aria-label={`Link con el logo de ${name} que lleva a ${url}`}
				>
					<Icon width={image.width} height={image.height} />
				</a>
			))
		}
	</div>

	<div class="relative mx-auto max-w-7xl px-4 text-center">
		<!-- Main Content -->
		<h2
			class="animate-fade-in animate-delay-300 pb-4 text-sm font-medium text-[var(--color-wine)] uppercase"
		>
			Presentación de
		</h2>

		<!-- Logo -->
		<div class="animate-fade-in-up animate-delay-400 relative mb-4 flex justify-center md:mb-8">
			<img
				src="/img/logo-la-velada-v.webp"
				alt="Logo de La Velada Del Año"
				class="relative z-10 w-[200px] select-none md:w-[300px] lg:w-[240px]"
				draggable="false"
			/>
		</div>
	</div>

	<div class="px-2">
		{
			!showStreamingEvent ? (
				<div class="animate-fade-in-up animate-delay-500 absolute inset-x-0 flex items-center justify-center">
					<Countdown timestamp={EVENT_TIMESTAMP} />
				</div>
			) : (
				<div class="animate-fade-in bg-cream/90 mx-auto mb-40 block w-full max-w-5xl rounded-md p-4 delay-1000">
					{isOnline && (
						<>
							<p class="animate-fade-in text-wine p-4 text-center text-xs font-semibold text-balance uppercase sm:text-xl md:text-2xl">
								¡El evento de presentación ha empezado! <span class="[text-shadow:none]">🎉</span>
							</p>
							<div class="relative aspect-video w-full rounded-3xl">
								<iframe
									src={twitchUrl}
									allowfullscreen="true"
									height="720"
									width="1280"
									class="animate-fade-in bg-cream h-full w-full rounded shadow-2xl backdrop-blur-md delay-1000"
								/>
							</div>
							<div class="flex w-full items-center justify-end">
								<a
									href="https://www.twitch.tv/ibai"
									target="_blank"
									class="text-wine mt-4 ml-auto inline-flex cursor-pointer text-center text-base leading-tight font-normal uppercase md:text-xl"
								>
									<span class="text-center text-base leading-tight font-normal md:text-xl">
										twitch.tv/<span class="font-bold">ibai</span>
									</span>
								</a>
							</div>
						</>
					)}
				</div>
			)
		}
	</div>

	<!-- Bottom Info -->
	<div
		class="animate-fade-in animate-delay-700 absolute right-0 bottom-2 left-0 z-10 flex flex-col justify-between px-4 text-[var(--color-wine)] sm:bottom-4 sm:px-8 md:flex-row md:px-16"
	>
		<div class="text-stroke mb-2 md:mb-0">
			<p class="text-center text-sm leading-tight font-bold md:text-lg">10 DE MARZO</p>
			<p class="text-center text-base leading-tight font-normal md:text-xl">
				TWITCH.TV/<span class="font-bold">IBAI</span>
			</p>
		</div>

		<div class="text-stroke text-right">
			<p class="text-center text-sm leading-tight font-normal md:text-lg">
				TEATRO <span class="font-medium">VICTORIA</span>
			</p>
			<p class="text-center text-base leading-tight font-medium md:text-xl">BARCELONA</p>
		</div>
	</div>
</section>

<style>
	/* Add any additional styles if needed */
	a {
		transition: transform 0.3s ease;
	}

	a:hover,
	a:focus {
		transform: scale(1.05);
	}

	@media (prefers-reduced-motion) {
		a {
			transition: none;
		}

		a:hover,
		a:focus {
			transform: none;
		}
	}
</style>
