---
import { FIGHTERS } from "@/consts/fighters"
import BoxerCard from "./BoxerCard.astro"

const firstRow = FIGHTERS.slice(0, 6)
const leftRow = firstRow.slice(0, 3)
const rightRow = firstRow.slice(3)
const secondRow = FIGHTERS.slice(6)
---

<section class="relative flex min-h-screen w-full">
  <div
    class="bg-[url('/images/hero.png')] bg-cover bg-center w-full mask-fade-bottom absolute inset-0"
  >
  </div>

  <div class="relative flex flex-col items-center p-8 w-full text-center">
    <div
      id="landing"
      class="absolute inset-0 flex flex-col items-center w-full py-32"
    >
      <h3
        class="font-light text-theme-seashell leading-[100%] mt-4 animate-fade-in animate-delay-300"
      >
        <strong>26</strong> DE <br /><strong>JULIO</strong>
      </h3>
      <figure class="relative mt-8 animate-fade-in">
        <img
          class="w-64 h-auto z-20 relative"
          src="/images/logo.png"
          fetchpriority="high"
          alt="La Velada del Año V"
          decoding="async"
        />
        <div class="absolute bg-pink-400/80 blur-2xl z-0 size-64 top-0"></div>
      </figure>

      <div class="relative">
      <h3
        class="font-light text-theme-seashell leading-[100%] mt-4 animate-fade-in animate-delay-500"
      >
        ESTADIO<br />LA CARTUJA,<br /><strong>SEVILLA</strong>
      </h3>
      <div class="absolute bg-pink-400/80 blur-2xl z-0 w-full h-full -inset-2"></div>
      <h3
        class="font-light text-theme-raisin-black leading-[100%] mt-4 animate-fade-in animate-delay-700"
      >
        </div>
        <a
          href="https://twitch.tv/ibai"
          rel="noopener noreferrer"
          target="_blank"
          class="inline-block transition hover:scale-125 z-10"
        >
          TWITCH.TV<br /><strong>IBAI</strong>
        </a>
      </h3>
    </div>

    <div
      id="fighter-container"
      class="pointer-events-none absolute inset-0 flex flex-col items-center"
    >
      <div
        class="relative top-96 mx-auto h-[4.5rem] flex w-full items-center justify-center z-1"
      >
        {
          FIGHTERS.map(({ id, name }) => (
            <img
              data-id={`hero-text-${id}`}
              src={`/images/fighters/text/${id}.png`}
              alt={name}
              decoding="async"
              class="w-auto h-full absolute hidden mask-fade-text"
              fetchpriority="low"
            />
          ))
        }
      </div>

      <div
        class="mask-fade-bottom relative bottom-0 mx-auto h-[80vh] flex w-full items-center justify-center"
      >
      {
        FIGHTERS.map(({ id, name }) => (
          <img
            transition:name={`image-${id}`}
            data-id={`hero-image-${id}`}
            src={`/images/fighters/big/${id}.png`}
            alt={name}
            decoding="async"
            class="w-full h-full object-cover lg:object-contain absolute hidden"
            fetchpriority="low"
          />
        ))
      }
      </div>
    </div>

    <div
      class="relative flex flex-col items-center justify-end p-8 h-full w-full max-w-6xl gap-4"
    >
      <div class="flex flex-wrap justify-between w-full px-4">
        <div class="flex flex-wrap justify-start gap-4 animate-fade-in-right animate-delay-500">
          {leftRow.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
        </div>
        <div class="flex flex-wrap justify-end gap-4 animate-fade-in-left animate-delay-500">
          {rightRow.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
        </div>
      </div>

      <div class="flex flex-wrap justify-between gap-4 animate-fade-in-up animate-delay-700">
        {secondRow.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
      </div>
    </div>
  </div>
</section>

<style>
  .mask-fade-text {
    mask-image: linear-gradient(
      to bottom,
      transparent 5%,
      black 6%,
      black 95%,
      transparent 100%
    );
  }
</style>

<script>
  document.addEventListener("astro:page-load", () => {
    const $landing = document.querySelector("#landing")

    let currentFighterId: string | null = null

    document.addEventListener("boxer-card-exit", () => {
      $landing?.classList.remove("hidden")

      if (currentFighterId) {
        document
          .querySelector(`[data-id="hero-text-${currentFighterId}"]`)
          ?.classList.add("hidden")

        document
          .querySelector(`[data-id="hero-image-${currentFighterId}"]`)
          ?.classList.add("hidden")

        currentFighterId = null
      }
    })

    document.addEventListener("boxer-card-hovered", (event: Event) => {
      const customEvent = event as CustomEvent<{ id: string }>
      const id = customEvent.detail.id

      // si el luchador que entras es el mismo que ya se muestra
      // entonces no hacemos nada
      if (currentFighterId === id) return

      // si ya estamos mostrando un luchador, tenemos que ocultarlo
      if (currentFighterId) {
        document
          .querySelector(`[data-id="hero-text-${currentFighterId}"]`)
          ?.classList.add("hidden")

        document
          .querySelector(`[data-id="hero-image-${currentFighterId}"]`)
          ?.classList.add("hidden")

        document
          .querySelector(`[data-id="hero-text-${currentFighterId}"]`)
          ?.classList.remove("animate-zoom-in")

        document
          .querySelector(`[data-id="hero-image-${currentFighterId}"]`)
          ?.classList.remove("animate-slide-up-fade")
      }

      $landing?.classList.add("hidden")

      // mostramos el luchador que quiere ver el usuario
      document
        .querySelector(`[data-id="hero-text-${id}"]`)
        ?.classList.remove("hidden")

      document
        .querySelector(`[data-id="hero-image-${id}"]`)
        ?.classList.remove("hidden")

      document
        .querySelector(`[data-id="hero-text-${id}"]`)
        ?.classList.add("animate-zoom-in")

      document
        .querySelector(`[data-id="hero-image-${id}"]`)
        ?.classList.add("animate-slide-up-fade")

      currentFighterId = id
    })
  })
</script>
