---
import { FIGHTERS } from '@/consts/fighters'
import BoxerCard from './BoxerCard.astro'
import {type ICustomEvent} from '../interfaces/custon-event'
const firstRow = FIGHTERS.slice(0, 6)
const leftRow = firstRow.slice(0, 3)
const rightRow = firstRow.slice(3)
const secondRow = FIGHTERS.slice(6)

---

<section class="relative flex min-h-screen w-full">
  <div
    class="mask-fade-bottom absolute inset-0 w-full bg-[url('/images/hero.png')] bg-cover bg-center"
  >
  </div>

  <div class="relative flex w-full flex-col items-center p-8 text-center">
    <div id="landing" class="absolute opacity-100 top-0 flex w-full flex-col items-center py-16">
      <h3
        class="text-theme-seashell animate-fade-in mt-4 leading-[100%] font-light"
      >
        <strong>26</strong> DE <br /><strong>JULIO</strong>
      </h3>
      <figure class="animate-fade-in relative mt-8">
        <img
          class="relative z-20 h-auto w-64"
          src="/images/logo.png"
          fetchpriority="high"
          alt="La Velada del Año V"
          decoding="async"
        />
        <div class="absolute top-0 z-0 size-64 bg-pink-400/80 blur-2xl"></div>
      </figure>

      <div class="relative z-50">
        <h3
          class="text-theme-seashell animate-fade-in animate-delay-500 z-0 mt-4 leading-[100%] font-light"
        >
          ESTADIO<br />LA CARTUJA,<br /><strong>SEVILLA</strong>
        </h3>
        <div class="absolute -inset-2 -z-10 h-full w-full bg-pink-400/80 blur-2xl"></div>
        <a
          href="https://twitch.tv/ibai"
          rel="noopener noreferrer"
          target="_blank"
          class="animate-fade-in z-50 mt-4 inline-block leading-[100%] font-light transition hover:scale-125"
        >
          TWITCH.TV<br /><strong>IBAI</strong>
        </a>
      </div>
    </div>

    <div
      id="fighter-container"
      class="pointer-events-none absolute inset-0 flex flex-col items-center"
    >
      <div class="relative top-96 z-1 mx-auto flex h-[4.5rem] w-full items-center justify-center">
        {
          FIGHTERS.map(({ id, name }) => (
            <img
              data-id={`hero-text-${id}`}
              src={`/images/fighters/text/${id}.png`}
              alt={name}
              decoding="async"
              class="mask-fade-text absolute opacity-0 h-full w-auto"
              fetchpriority="low"
            />
          ))
        }
      </div>

      <div
        class="mask-fade-bottom relative bottom-0 mx-auto flex h-[80vh] w-full items-center justify-center"
      >
        {
          FIGHTERS.map(({ id, name }) => (
            <img
              transition:name={`image-${id}`}
              data-id={`hero-image-${id}`}
              src={`/images/fighters/big/${id}.webp`}
              alt={name}
              decoding="async"
              class="absolute opacity-0 h-full w-full object-cover lg:object-contain"
              fetchpriority="low"
            />
          ))
        }
      </div>
    </div>

    <div class="relative flex h-full w-full max-w-6xl flex-col items-center justify-end gap-4 p-8">
      <div class="flex w-full flex-wrap justify-between px-4">
        <div class="animate-fade-in-right animate-delay-500 flex flex-wrap justify-start gap-4">
          {leftRow.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
        </div>
        <div class="animate-fade-in-left animate-delay-500 flex flex-wrap justify-end gap-4">
          {rightRow.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
        </div>
      </div>

      <div class="animate-fade-in-up flex flex-wrap justify-between gap-4">
        {secondRow.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
      </div>
    </div>
  </div>
</section>

<style>
  .mask-fade-text {
    mask-image: linear-gradient(to bottom, transparent 5%, black 6%, black 95%, transparent 100%);
  }
</style>

<script>
import type { ICustomEvent } from "@/interfaces/custon-event"

  document.addEventListener('astro:page-load', () => {

    const $landing = document.querySelector('#landing')
    let fighter: HTMLElement | null = null;
    let name_fighter: HTMLElement | null = null;
    document.addEventListener('boxer-card-hovered',(event)=>{
      const {detail} = event as ICustomEvent;

      fighter = document.querySelector(`[data-id="hero-image-${detail.id}"]`) as HTMLElement;
      name_fighter = document.querySelector(`[data-id="hero-text-${detail.id}"]`) as HTMLElement;
      fighter.classList.remove('animacion-out')
      fighter.classList.add('animacion-in')
      name_fighter.classList.remove('animacion-out')
      name_fighter.classList.add('animacion-in')
      $landing?.childNodes.forEach((c)=>{
          if(c.childNodes.length <= 0) return;
          const child = c as unknown as HTMLElement;
          child.classList.remove('animate-fade-in');
          child.classList.add('animate-fade-out');
        })

    })

    document.addEventListener('boxer-card-exit',()=>{
      if(fighter) {
        fighter?.classList.add('animacion-out');
        fighter.classList.remove('animacion-in')
        name_fighter?.classList.add('animacion-out')
        name_fighter?.classList.remove('animacion-in')
      }
       $landing?.childNodes.forEach((c)=>{
          if(c.childNodes.length <= 0) return;
          const child = c as unknown as HTMLElement;
          child.classList.remove('animate-fade-out');
          child.classList.add('animate-fade-in');
        })
    })
  })
</script>
