---
import { FIGHTERS } from '@/consts/fighters'
import BoxerCard from './BoxerCard.astro'

const firstRow = FIGHTERS.slice(0, 6)
const leftRow = firstRow.slice(0, 3)
const rightRow = firstRow.slice(3)
const secondRow = FIGHTERS.slice(6)
---

<section class="relative flex min-h-screen w-full group pointer-events-none">
  <div
    class="mask-fade-bottom absolute inset-0 w-full bg-[url('/images/hero.png')] bg-cover bg-center"
  >
  </div>

  <div class="relative flex w-full flex-col items-center p-8 text-center">
    <div id="landing" class="absolute top-0 flex w-full flex-col items-center py-16 group-hover:opacity-0 transition-opacity duration-300">
      <h3
        class="text-theme-seashell animate-fade-in animate-delay-300 mt-4 leading-[100%] font-light"
      >
        <strong>26</strong> DE <br /><strong>JULIO</strong>
      </h3>
      <figure class="animate-fade-in relative mt-8">
        <img
          class="relative z-20 h-auto w-64"
          src="/images/logo.png"
          fetchpriority="high"
          alt="La Velada del Año V"
          decoding="async"
        />
        <div class="absolute top-0 z-0 size-64 bg-pink-400/80 blur-2xl"></div>
      </figure>

      <div class="relative z-50">
        <h3
          class="text-theme-seashell animate-fade-in animate-delay-500 z-0 mt-4 leading-[100%] font-light"
        >
          ESTADIO<br />LA CARTUJA,<br /><strong>SEVILLA</strong>
        </h3>
        <div class="absolute -inset-2 -z-10 h-full w-full bg-pink-400/80 blur-2xl"></div>
        <a
          href="https://twitch.tv/ibai"
          rel="noopener noreferrer"
          target="_blank"
          class="animate-fade-in animate-delay-700 z-50 mt-4 inline-block leading-[100%] font-light transition hover:scale-125"
        >
          TWITCH.TV<br /><strong>IBAI</strong>
        </a>
      </div>
    </div>

    <div
      id="fighter-container"
      class="pointer-events-none absolute inset-0 flex flex-col items-center"
    >
      <div class="relative top-96 z-1 mx-auto flex h-[4.5rem] w-full items-center justify-center">
        {
          FIGHTERS.map(({ id, name }) => (
            <img
              data-id={`hero-text-${id}`}
              src={`/images/fighters/text/${id}.png`}
              alt={name}
              decoding="async"
              class="w-auto h-full absolute opacity-0 mask-fade-text transition-opacity duration-300"
              fetchpriority="low"
            />
          ))
        }
      </div>

      <div
        class="mask-fade-bottom relative bottom-0 mx-auto flex h-[80vh] w-full items-center justify-center"
      >
        {
          FIGHTERS.map(({ id, name }) => (
            <img
              transition:name={`image-${id}`}
              data-id={`hero-image-${id}`}
              src={`/images/fighters/big/${id}.webp`}
              alt={name}
              decoding="async"
              class="absolute h-full w-full object-cover lg:object-contain opacity-0 transition-opacity duration-300"
              fetchpriority="low"
            />
          ))
        }
      </div>
    </div>

    <div class="relative flex h-full w-full max-w-6xl flex-col items-center justify-end gap-4 p-8">
      <div class="flex w-full flex-wrap justify-between px-4">
        <div class="animate-fade-in-right animate-delay-500 flex flex-wrap justify-start gap-4">
          {leftRow.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
        </div>
        <div class="animate-fade-in-left animate-delay-500 flex flex-wrap justify-end gap-4">
          {rightRow.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
        </div>
      </div>

      <div class="animate-fade-in-up animate-delay-700 flex flex-wrap justify-between gap-4">
        {secondRow.map(({ id, name }) => <BoxerCard id={id} name={name} />)}
      </div>
    </div>
  </div>
</section>

<style>
  .mask-fade-text {
    mask-image: linear-gradient(to bottom, transparent 5%, black 6%, black 95%, transparent 100%);
  }
</style>

<!-- Estilos para detectar hover en boxerCard y mostrar la imagen correspondiente -->
<style is:inline set:html={FIGHTERS.map(({id}) => `
  section:has(.boxer-card[data-id="${id}"]:hover) [data-id="hero-text-${id}"],
  section:has(.boxer-card[data-id="${id}"]:hover) [data-id="hero-image-${id}"] {
    opacity: 1;
  }
`).join('\n')}>
</style>

