---
import jost from "@fontsource-variable/jost/files/jost-latin-wght-normal.woff2"
import RichResults from "./RichResults.astro"

interface Props {
	title: string
	description: string
	preloadImgLCP?: string
}

const { title, description, preloadImgLCP } = Astro.props
---

<title>{title}</title>

<meta charset="UTF-8" />
<meta name="description" content={description} />

<link rel="preload" href={jost} as="font" type="font/woff2" crossorigin />
{
	preloadImgLCP && (
		<link rel="preload" href={preloadImgLCP} as="image" type="image/webp" crossorigin />
	)
}

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="canonical" href="https://lavelada.es" />
<meta name="viewport" content="width=device-width" />
<meta name="theme-color" content="#d5ff00" />

<meta name="keywords" content="velada, streamers, creadores, Ibai, boxeo, midudev" />

<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@infoLaVelada" />
<meta name="twitter:creator" content="@IbaiLlanos" />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content="https://lavelada.es/img/og.jpg" />

<meta name="og:image" content="https://lavelada.es/img/og.jpg" />
<meta name="og:title" content={title} />
<meta name="og:description" content={description} />
<meta name="og:url" content="https://lavelada.es" />
<meta name="og:site_name" content="La Velada 4" />
<meta name="og:type" content="website" />
<meta name="og:locale" content="es_ES" />

<meta name="robots" content="index, follow" />
<meta name="googlebot" content="index, follow" />

<!-- PWA Support -->

<!-- Favicons. -->
<!-- 16 -->
<link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png" />
<!-- 20 -->
<link rel="icon" type="image/png" sizes="20x20" href="/img/icons/favicon-20x20.png" />
<!-- 24 -->
<link rel="icon" type="image/png" sizes="24x24" href="/img/icons/favicon-24x24.png" />
<!-- 48 -->
<link rel="icon" type="image/png" sizes="48x48" href="/img/icons/favicon-48x48.png" />
<!-- 64 -->
<link rel="icon" type="image/png" sizes="64x64" href="/img/icons/favicon-64x64.png" />
<!-- 128 -->
<link rel="icon" type="image/png" sizes="128x128" href="/img/icons/favicon-128x128.png" />
<!-- 144 -->
<link rel="icon" type="image/png" sizes="144x144" href="/img/icons/favicon-144x144.png" />
<!-- 256 -->
<link rel="icon" type="image/png" sizes="256x256" href="/img/icons/favicon-256x256.png" />
<!-- 512 -->
<link rel="icon" type="image/png" sizes="512x512" href="/img/icons/favicon-512x512.png" />
<link rel="shortcut icon" type="image/x-icon" href="/img/icons/favicon.ico" />

<!-- Sitemap -->
<meta name="msapplication-config" content="/browserconfig.xml" />

<!-- Worker Registration -->
{
	!import.meta.env.DEV && (
		<>
			<script is:inline src="/registerSW.js" />
			<link rel="manifest" href="/manifest.webmanifest" />
		</>
	)
}

<RichResults />
