---
import { SPONSORS } from '@/consts/sponsors'
import SectionTitle from './SectionTitle.astro'

const firstRows = SPONSORS.slice(0, 9)
const secondRow = SPONSORS.slice(9)
---

<section id="sponsors" class="mx-auto max-w-xl py-24">
  <SectionTitle title="Patrocinadores DEL EVENTO" />
  <div class="flex flex-col-reverse items-center md:flex-col">
    <div
      class="grid w-full grid-cols-2 items-center justify-center justify-items-center gap-8 px-14 py-5 md:grid-cols-3 md:gap-5 md:px-0"
    >
      {
        firstRows.map(({ url, image, name, label }, index) => (
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={label ?? name}
            class={`text-dark-magenta hover:to-theme-turquoise/70 hover:from-theme-tickle-me-pink/70 from-theme-turquoise/70 to-theme-tickle-me-pink/70 flex size-16 w-full items-center justify-center bg-gradient-to-b transition duration-500 hover:scale-125 ${
              index === firstRows.length - 1 && firstRows.length % 2 !== 0
                ? 'relative -right-7/12 md:right-0'
                : ''
            }`}
          >
            <image.logo width={image.width} height={image.width} class="h-24 w-fit" />
          </a>
        ))
      }
    </div>
    <div
      class="grid w-full grid-flow-col grid-rows-1 items-center justify-center gap-8 px-14 md:grid-rows-1 md:gap-5 md:px-0"
    >
      {
        secondRow.map(({ url, image, name, label }) => (
          <a
            href={url}
            target="_blank"
            rel="noopener noreferrer"
            aria-label={label ?? name}
            class="text-dark-magenta hover:to-theme-turquoise/70 hover:from-theme-tickle-me-pink/70 from-theme-turquoise/70 to-theme-tickle-me-pink/70 flex h-16 w-[150px] items-center justify-center bg-gradient-to-b transition duration-500 hover:scale-125"
          >
            <image.logo width={image.width} height={image.width} class="h-24 w-fit" />
          </a>
        ))
      }
    </div>
  </div>
</section>
