---
import { SPONSORS } from "@/consts/sponsors";

const firstRow = SPONSORS.slice(0, 5);
const secondRow = SPONSORS.slice(5);
---

<section id="sponsors">
  <div class="flex justify-around gap-4">
    {
      firstRow.map(({ url, image, name }) => (
        <a
          href={url}
          target="_blank"
          class="size-14 hover:scale-125 transition text-dark-magenta flex justify-center items-center"
        >
          <image.logo width={image.width} height={image.width} class="h-14 w-auto" />
        </a>
      ))
    }
  </div>
  <div class="flex justify-around gap-4">
    {
      secondRow.map(({ url, image, name }) => (
        <a
          href={url}
          target="_blank"
          class="size-14 hover:scale-125 transition text-dark-magenta flex justify-center items-center"
        >
          <image.logo width={image.width} height={image.width} class="h-14 w-auto" />
        </a>
      ))
    }
  </div>
</section>
