---
import BoxerBigImage from "@/components/BoxerBigImage.astro"
import BoxerClips from "@/components/BoxerClips.astro"
import BoxerDetailInfo from "@/components/BoxerDetailInfo.astro"
import BoxerDetailInfoRival from "@/components/BoxerDetailInfoRival.astro"
import BoxerSocialLink from "@/components/BoxerSocialLink.astro"
import BoxerWorkout from "@/components/BoxerWorkout.astro"
import BoxerGallery from "@/components/Boxers/Gallery.astro"
import Typography from "@/components/Typography.astro"
import Forecasts from "@/sections/Forecasts.astro"

import Instagram from "@/icons/instagram.astro"
import Tiktok from "@/icons/tiktok.astro"
import Twitch from "@/icons/twitch.astro"
import X from "@/icons/x.astro"
import YouTube from "@/icons/youtube.astro"

import { BOXERS } from "@/consts/boxers"
import { COMBATS } from "@/consts/combats"
import { COUNTRIES } from "@/consts/countries"
import Layout from "@/layouts/Layout.astro"
import CombatSection from "@/sections/Combat.astro"
import type { Boxer } from "@/types/Boxer"
import type { Preload } from "@/types/Preload"

export function getStaticPaths() {
	return BOXERS.map(({ id }) => {
		return { params: { id } }
	})
}

const { id } = Astro.params

const [boxer] = BOXERS.filter((boxer) => boxer.id === id)

const combat = COMBATS.find((combat) => combat.boxers.includes(id))

if (!combat) {
	return new Response(JSON.stringify("Combat not found"), { status: 404 })
}

const boxers = BOXERS.filter((boxer) => combat.boxers.includes(boxer.id))

if (!boxers) {
	return new Response(JSON.stringify("Boxers not found"), { status: 404 })
}

const countryName = COUNTRIES[boxer.country]

let rivals: Boxer[] = []
if (typeof boxer.versus === "object") {
	for (const vs of boxer.versus) {
		rivals = rivals.concat(BOXERS.filter((rival: Boxer) => rival.id === vs))
	}
} else {
	rivals = boxers.filter((rival: Boxer) => rival.id !== boxer.id)
}

const preloadBoxerImage: Preload[] = [
	{
		as: "image",
		href: `https://cdn.lavelada.dev/boxers/${id}-big.webp`,
		type: "image/webp",
		rel: "preload",
	},
]

const rivalOrRivals = rivals.length > 1 ? "Rivales" : "Rival"
const guardBoxer = boxer.guard === undefined ? "Desconocida" : boxer.guard
const flagAlt = countryName === undefined ? "un país" : countryName.name

export const prerender = true
---

<Layout
	description={`Información del ${boxer.gender === "masculino" ? "luchador" : "luchadora"} ${boxer.name}`}
	title={`${boxer.name} - La Velada del Año IV`}
	preload={preloadBoxerImage}
>
	<main>
		<section class="relative flex flex-col items-center justify-center">
			<div class="flex w-full flex-col md:flex-row md:gap-10">
				<div
					class="left-10 order-2 flex w-full flex-col md:absolute md:order-1 md:w-[300px] md:gap-y-20"
				>
					<BoxerClips clips={boxer.clips} />
					<div class="hidden md:block">
						<BoxerDetailInfoRival title={rivalOrRivals} value={rivals} id="boxer-rival-desk" />
					</div>
				</div>

				<div class="flex w-full flex-col md:w-1/4 md:gap-y-20"></div>

				<div
					class="relative order-1 -mt-20 flex flex-col items-center justify-center md:order-2 md:w-1/2 lg:mx-4"
				>
					<BoxerBigImage
						id={id}
						name={boxer.name}
						country={boxer.country}
						countryName={flagAlt}
						loading="eager"
					/>
				</div>

				<div
					class="order-3 mx-auto flex w-full max-w-[450px] flex-col md:w-auto md:max-w-none md:gap-y-20 lg:w-1/4"
				>
					<BoxerDetailInfo title="Edad" value={`${boxer.age} años`} id="boxer-edad" />
					{
						boxer.weight && (
							<BoxerDetailInfo title="Peso" value={`${boxer.weight} kg`} id="boxer-peso" />
						)
					}
					<BoxerDetailInfo title="Altura" value={`${boxer.height} m`} id="boxer-altura" />
					<BoxerDetailInfo title="Guardia" value={guardBoxer} id="boxer-guardia" />

					<div class="mx-auto block max-w-96 md:hidden">
						<BoxerDetailInfoRival title={rivalOrRivals} value={rivals} id="boxer-rival-mobile" />
					</div>
				</div>
			</div>
		</section>
		<section class="mt-20 md:mt-64">
			<Typography as="h3" variant="h3" color="white" class:list={"mb-12 text-center"}>
				REDES SOCIALES
			</Typography>
			<div class="mx-auto flex max-w-[600px] flex-wrap justify-center gap-2 lg:max-w-full">
				<BoxerSocialLink href={boxer.socials.twitch}>
					<Twitch />
				</BoxerSocialLink>
				<BoxerSocialLink href={boxer.socials.instagram}>
					<Instagram />
				</BoxerSocialLink>
				<BoxerSocialLink href={boxer.socials.twitter}>
					<X />
				</BoxerSocialLink>
				<BoxerSocialLink href={boxer.socials.youtube}>
					<YouTube />
				</BoxerSocialLink>
				<BoxerSocialLink href={boxer.socials.tiktok}>
					<Tiktok />
				</BoxerSocialLink>
			</div>
		</section>

		{boxer.workout && <BoxerWorkout workout={boxer.workout} />}

		{boxer.gallery && <BoxerGallery id={boxer.id} name={boxer.name} />}

		<Forecasts combatId={combat.id} />

		<CombatSection combatId={combat.id} combatNumber={combat.number} boxers={boxers} />
	</main>
</Layout>
