---
import BoxerBigImage from "@/components/BoxerBigImage.astro"
import BoxerClips from "@/components/BoxerClips.astro"
import BoxerDetailInfo from "@/components/BoxerDetailInfo.astro"
import BoxerSocialLink from "@/components/BoxerSocialLink.astro"
import SectionTitle from "@/components/SectionTitle.astro"

import Instagram from "@/icons/instagram.astro"
import Tiktok from "@/icons/tiktok.astro"
import Twitch from "@/icons/twitch.astro"
import X from "@/icons/x.astro"
import YouTube from "@/icons/youtube.astro"

import { BOXERS } from "@/consts/boxers"
import { COUNTRIES } from "@/consts/countries"
import { BOXERS, type Boxer } from "@/consts/boxers"
import { type Combat } from "@/consts/combats"
import { type Forecast } from "@/consts/forecasts"
import Layout from "@/layouts/Layout.astro"
import CombatSection from "@/sections/Combat.astro"
import Forecasts, { type BoxerWithForecast } from "@/sections/Forecasts.astro"
import { ResponseSentError } from "node_modules/astro/dist/core/errors/errors-data"

export function getStaticPaths() {
	return BOXERS.map(({ id }) => ({
		params: { id },
	}))
}

const { id } = Astro.params

const [boxer] = BOXERS.filter((boxer) => boxer.id === id)

const combatRes = await fetch(
	`${import.meta.env.API_URL}/combats/get-combat-by-boxer-id.json?id=${id}`,
	{
		method: "GET",
		headers: {
			"Content-Type": "application/json",
		},
	}
)

if (combatRes.status !== 200) {
	return new Response(combatRes.statusText, { status: combatRes.status })
}

const combat: Combat = await combatRes.json()

if (!combat) {
	if (combatRes.status !== 200) {
		return new Response("Combat not found", { status: 404 })
	}
}

const boxersRes = await fetch(
	`${import.meta.env.API_URL}/boxers/get-boxers-by-combat-id.json?id=${combat.id}`,
	{
		method: "GET",
		headers: {
			"Content-Type": "application/json",
		},
	}
)

if (boxersRes.status !== 200) {
	return new Response(boxersRes.statusText, { status: boxersRes.status })
}

const boxers: Boxer[] = await boxersRes.json()

if (!boxers) {
	if (boxersRes.status !== 200) {
		return new Response("Boxers not found", { status: 404 })
	}
}

const forecastRes = await fetch(
	`${import.meta.env.API_URL}/forecasts/get-forecast-by-combat-id.json?id=${combat.id}`,
	{
		method: "GET",
		headers: {
			"Content-Type": "application/json",
		},
	}
)

const boxersWithForecast: BoxerWithForecast[] = []
let forecastCount = 0
let forecast: Forecast | undefined

if (forecastRes.status == 200) {
	forecast = await forecastRes.json()

	if (forecast) {
		forecast.forecastData.map((forecastData) => {
			const boxer = boxers.find((boxer) => boxer.id === forecastData.boxerId)
			if (boxer) {
				boxersWithForecast.push({ ...boxer, forecast: forecastData.forecast })
				forecastCount += forecastData.predictionsCount
			}
		})
	}
}
---

<Layout
	description={`Información del luchador ${boxer.name}`}
	title={`${boxer.name} - Información del boxeador de La Velada IV`}
>
	<main>
		<section class="flex flex-col items-center justify-center">
			<div class="flex flex-col items-center lg:flex-row lg:items-start">
				<aside class="flex flex-col gap-y-20 lg:w-1/4">
					<BoxerDetailInfo title="Alias" value={boxer.name} />
					<BoxerDetailInfo title="País" value={COUNTRIES[boxer.country].name} />
					<BoxerDetailInfo title="Edad" value={boxer.age} />
					<BoxerDetailInfo title="Rival/es" value={boxer.versus} />
				</aside>

				<div class="relative -mt-24 flex flex-col items-center justify-center lg:mx-4 lg:w-[800px]">
					<BoxerBigImage id={id} name={boxer.name} country={boxer.country} />
				</div>

				<aside class="flex flex-col gap-y-20 lg:w-1/4">
					<BoxerDetailInfo title="Peso" value={`${boxer.weight} kg.`} />
					<BoxerDetailInfo title="Altura" value={`${boxer.height} m.`} />
					<BoxerDetailInfo title="Guardia" value={boxer.guard} />
					<BoxerDetailInfo title="Alcance" value={boxer.reach} />
				</aside>
			</div>

			<div class="mt-20 flex justify-center space-x-8">
				<BoxerSocialLink href={boxer.socials.twitch}>
					<Twitch />
				</BoxerSocialLink>
				<BoxerSocialLink href={boxer.socials.instagram}>
					<Instagram />
				</BoxerSocialLink>
				<BoxerSocialLink href={boxer.socials.twitter}>
					<X />
				</BoxerSocialLink>
				<BoxerSocialLink href={boxer.socials.youtube}>
					<YouTube />
				</BoxerSocialLink>
				<BoxerSocialLink href={boxer.socials.tiktok}>
					<Tiktok />
				</BoxerSocialLink>
			</div>
		</section>

		{
			boxer.clips && boxer.clips.length > 0 && (
				<section class="my-44">
					<SectionTitle title="Declaraciones" description="Citas previas del combate" />

					<BoxerClips clips={boxer.clips} />
				</section>
			)
		}
		{
			forecast && (
				<Forecasts combatNumber={combat.id} count={forecastCount} boxers={boxersWithForecast} />
			)
		}
		<CombatSection combatNumber={combat.id} , boxers={boxers} />
	</main>
</Layout>

<script></script>
