---
import BoxerBigImage from "@/components/BoxerBigImage.astro"
import BoxerClips from "@/components/BoxerClips.astro"
import BoxerDetailInfo from "@/components/BoxerDetailInfo.astro"
import BoxerDetailInfoRival from "@/components/BoxerDetailInfoRival.astro"
import BoxerSocialLink from "@/components/BoxerSocialLink.astro"
import BoxerWorkout from "@/components/BoxerWorkout.astro"
import BoxerGallery from "@/components/Boxers/Gallery.astro"
import SectionTitle from "@/components/SectionTitle.astro"

import Instagram from "@/icons/instagram.astro"
import Tiktok from "@/icons/tiktok.astro"
import Twitch from "@/icons/twitch.astro"
import X from "@/icons/x.astro"
import YouTube from "@/icons/youtube.astro"

import type { Preload } from "@/components/SEO.astro"
import { BOXERS } from "@/consts/boxers"
import { COMBATS } from "@/consts/combats"
import { COUNTRIES } from "@/consts/countries"
import { FORECASTS } from "@/consts/forecasts"
import Layout from "@/layouts/Layout.astro"
import CombatSection from "@/sections/Combat.astro"
import Forecasts, { type BoxerWithForecast } from "@/sections/Forecasts.astro"
import type { Boxer } from "@/types/Boxer"

export function getStaticPaths() {
	return BOXERS.map(({ id }) => {
		return { params: { id } }
	})
}

export const prerender = true

const { id } = Astro.params

const [boxer] = BOXERS.filter((boxer) => boxer.id === id)

const combat = COMBATS.find((combat) => combat.boxers.includes(id))

if (!combat) {
	return new Response(JSON.stringify("Combat not found"), { status: 404 })
}

const boxers = BOXERS.filter((boxer) => combat.boxers.includes(boxer.id))

if (!boxers) {
	return new Response(JSON.stringify("Boxers not found"), { status: 404 })
}

const forecast = FORECASTS.find((forecast) => forecast.combatId === combat.id)

const countryName = COUNTRIES[boxer.country]

const boxersWithForecast: BoxerWithForecast[] = []
let forecastCount = 0

let rivals: Boxer[] = []
if (typeof boxer.versus === "object") {
	for (const vs of boxer.versus) {
		rivals = rivals.concat(BOXERS.filter((rival: Boxer) => rival.id === vs))
	}
} else {
	rivals = boxers.filter((rival: Boxer) => rival.id !== boxer.id)
}

if (forecast) {
	forecast.forecastData.forEach((forecastData) => {
		const boxer = boxers.find((boxer) => boxer.id === forecastData.boxerId)
		if (boxer) {
			boxersWithForecast.push({ ...boxer, forecast: forecastData.forecast })
			forecastCount += forecastData.predictionsCount
		}
	})
}

const preloadBoxerImage: Preload[] = [
	{
		as: "image",
		href: `/img/boxers/${id}-big.webp`,
		type: "image/webp",
		rel: "preload",
	},
]

const rivalOrRivals = rivals.length > 1 ? "Rivales" : "Rival"
const guardBoxer = boxer.guard === undefined ? "Desconocida" : boxer.guard
const flagAlt = countryName === undefined ? "un país" : countryName.name
---

<Layout
	description={`Información del luchador ${boxer.name}`}
	title={`${boxer.name} - Información del boxeador de La Velada IV`}
	preload={preloadBoxerImage}
>
	<main>
		<section class="relative flex flex-col items-center justify-center">
			<div class="flex w-full flex-col md:flex-row md:gap-10">
				<div
					class="left-10 order-2 flex w-full flex-col md:absolute md:order-1 md:w-[300px] md:gap-y-20"
				>
					<BoxerClips clips={boxer.clips} />
					<div class="hidden md:block">
						<BoxerDetailInfoRival title={rivalOrRivals} value={rivals} id="boxer-rival-desk" />
					</div>
				</div>

				<div class="flex w-full flex-col md:w-1/4 md:gap-y-20"></div>

				<div
					class="relative order-1 -mt-20 flex flex-col items-center justify-center md:order-2 md:w-1/2 lg:mx-4"
				>
					<BoxerBigImage id={id} name={boxer.name} country={boxer.country} countryName={flagAlt} />
				</div>

				<div
					class="order-3 mx-auto flex w-full max-w-[450px] flex-col md:w-auto md:max-w-none md:gap-y-20 lg:w-1/4"
				>
					<BoxerDetailInfo title="Edad" value={boxer.age} id="boxer-edad" />
					<BoxerDetailInfo title="Peso" value={`${boxer.weight} kg.`} id="boxer-peso" />
					<BoxerDetailInfo title="Altura" value={`${boxer.height} m.`} id="boxer-altura" />
					<BoxerDetailInfo title="Guardia" value={guardBoxer} id="boxer-guardia" />

					<div class="block md:hidden">
						<BoxerDetailInfoRival title={rivalOrRivals} value={rivals} id="boxer-rival-mobile" />
					</div>
				</div>
			</div>

			<div class="mt-24 flex max-w-xl flex-wrap justify-center gap-8 md:mt-56 md:max-w-full">
				<BoxerSocialLink href={boxer.socials.twitch}>
					<Twitch />
				</BoxerSocialLink>
				<BoxerSocialLink href={boxer.socials.instagram}>
					<Instagram />
				</BoxerSocialLink>
				<BoxerSocialLink href={boxer.socials.twitter}>
					<X />
				</BoxerSocialLink>
				<BoxerSocialLink href={boxer.socials.youtube}>
					<YouTube />
				</BoxerSocialLink>
				<BoxerSocialLink href={boxer.socials.tiktok}>
					<Tiktok />
				</BoxerSocialLink>
			</div>
		</section>

		{
			boxer.workout && (
				<section class="my-44">
					<SectionTitle title="Entrenamiento" description="Preparación para el combate" />

					<BoxerWorkout workout={boxer.workout} />
				</section>
			)
		}

		{boxer.gallery && <BoxerGallery id={boxer.id} name={boxer.name} />}

		{forecast && <Forecasts count={forecastCount} boxers={boxersWithForecast} />}
		<CombatSection combatId={combat.id} combatNumber={combat.number} boxers={boxers} />
	</main>
</Layout>

<script></script>
