---
import CombatFeatureBoxInfo from "@/components/CombatFeatureBoxInfo.astro"
import Typography from "@/components/Typography.astro"
import { BOXERS } from "@/consts/boxers"

interface Props {
	boxerIds: string[]
}

const relevantBoxerData = Object.entries({
	name: {
		label: "Alias",
		concat: undefined,
	},
	country: {
		label: "País",
		concat: undefined,
	},
	weight: {
		label: "Peso",
		concat: " kg",
	},
	height: {
		label: "Altura",
		concat: " cm",
	},
	guard: {
		label: "Guardia",
		concat: undefined,
	},
	reach: {
		label: "Alcance",
		concat: " cm",
	},
	age: {
		label: "Edad",
		concat: " años",
	},
})

const { boxerIds } = Astro.props

const boxers = boxerIds.map((id) => BOXERS.find((boxer) => boxer.id === id))
---

<section class="pt-40">
	<Typography as="h2" variant="h2" color="white" class:list={"text-center"}>
		Características
	</Typography>
	<Typography
		as="p"
		variant="body"
		color="neutral"
		class:list={"mx-auto mt-4 text-wrap text-center"}
	>
		Datos relevantes de cada contrincante
	</Typography>
	<table class="mt-10 w-full text-center text-white lg:text-lg">
		<tbody>
			{
				relevantBoxerData.map(([key, { label, concat }]) => (
					<tr class="mb-10 bg-gradient-to-b from-white/20 via-transparent to-transparent p-4">
						<CombatFeatureBoxInfo boxer={boxers[0]} key={key} concat={concat} />
						<td class="text-primary">{label}</td>
						<CombatFeatureBoxInfo boxer={boxers[1]} key={key} concat={concat} />
					</tr>
				))
			}
		</tbody>
	</table>
</section>
