---
import { COMBATS } from '@/consts/combats'
import PredictionBar from '@/components/PredictionBar.astro'
import { getBoxerById } from '@/lib/boxers'
---

<h2 class="text-dark-magenta mb-4 pb-8 pt-48 text-center text-4xl font-light">
  <div class="block sm:inline">
    <strong class="font-bold lowercase">Pronósticos de la comunidad</strong>
  </div>
</h2>

<div class="flex w-full flex-col items-center text-center">
  <div
    id="combats-container"
    class="relative mx-auto mb-12 mt-10 grid w-full max-w-2xl grid-cols-2 gap-4 p-6 md:gap-8 lg:max-w-6xl"
  >
    {
      COMBATS.toReversed().map(({ id, number, fighters, title }, index) => (
        <div
          class:list={['relative block', index === 0 ? 'col-span-2' : 'col-span-2 lg:col-span-1']}
        >
          <a href={`combates/${id}`} title={`Ir al combate ${number} de ${title}`}>
            <article
              class:list={[
                'combat group relative flex w-full',
                index === 0
                  ? 'animate-fade-in-up h-[40vh] max-h-[700px] sm:h-[50vh] lg:h-[70vh]'
                  : 'animate-fade-in-left h-[40vh] max-h-[400px] sm:h-[50vh]',
                index % 2 === 0 && index !== 0
                  ? 'animate-fade-in-left'
                  : index !== 0
                    ? 'animate-fade-in-right'
                    : '',
                'animate-delay-200 lg',
              ]}
            >
              {fighters.map((fighter, fighterIndex) => (
                <img
                  src={`/images/fighters/combat/${fighter}.webp`}
                  class:list={[
                    'mask-fade-bottom-quick absolute z-20 h-full w-auto object-contain object-bottom transition-transform duration-300 group-hover:scale-110',
                    fighterIndex === 0 ? 'left-0' : 'right-0',
                    (fighter === 'perxitaa' || fighter === 'viruzz') &&
                      'max-sm:-translate-x-5 lg:-translate-x-5',
                    (fighter === 'gaspi' || fighter === 'tomas') &&
                      'max-sm:translate-x-5 lg:translate-x-5',
                  ]}
                  alt={`Imagen de ${fighter}`}
                  transition:name={`combat-img:${fighter}`}
                />
              ))}

              <div class="-skew-4 absolute -bottom-20 z-30 flex h-auto w-full flex-col items-center justify-center p-8 transition-transform duration-300 group-hover:scale-90">
                <img
                  src={`/images/fighters/combat/${fighters[0]}-vs-${fighters[1]}.webp`}
                  class:list={[
                    'transform-3d z-50 object-bottom',
                    index === 0
                      ? 'h-[400px] w-[700px] object-contain'
                      : 'h-80 object-cover lg:h-56',
                  ]}
                  alt={`${fighters[0]} contra ${fighters[1]}`}
                  transition:name={`vs:${fighters[0]}-${fighters[1]}`}
                />
              </div>
            </article>
          </a>
          <div class="relative mt-24 block">
            <PredictionBar
              combatId={id}
              overlay={true}
              fighter1={{
                id: getBoxerById(fighters[0])?.id || '',
                name: getBoxerById(fighters[0])?.name || '',
                percentage: 60,
              }}
              fighter2={{
                id: getBoxerById(fighters[1])?.id || '',
                name: getBoxerById(fighters[1])?.name || '',
                percentage: 40,
              }}
              totalVotes={100}
            />
          </div>
        </div>
      ))
    }
  </div>
</div>

<script>
  import { getPredictionsForPage } from '@/lib/get-predictions-for-page'

  document.addEventListener('astro:page-load', () => {
    getPredictionsForPage()
  })
</script>
