---
import Typography from "@/components/Typography.astro"
import { BOXERS } from "@/consts/boxers"
import { COUNTRIES } from "@/consts/countries"

const listOfBoxers = BOXERS.map((boxer) => {
	const { country } = boxer
	const countryName = COUNTRIES[country]?.name || ""
	return { ...boxer, countryName }
})

const baseUrl = "#"
---

<section class="my-40">
	<Typography as="h3" variant="atomic-title" color="primary" class:list={"text-center"}>
		elige tu luchador
	</Typography>

	<div class="flex flex-col items-center justify-center gap-8">
		<article
			class="relative flex w-full flex-col items-center justify-center"
			style="view-transition-name: boxer;"
		>
			<header
				class="relative flex w-full flex-col items-center justify-center bg-center bg-no-repeat"
				style="background-image: url('/img/effects/boxer-background.png'); background-size: 75%;"
			>
				<picture class="boxer-photo">
					<source srcset="/img/boxers/el-mariana-big.webp" type="image/webp" />
					<source srcset="/img/boxers/el-mariana-big.avif" type="image/avif" />
					<img
						class="h-[800px] w-[480px] object-contain"
						alt="Fotografía de El Mariana"
						src="/img/boxers/el-mariana-big.avif"
						style="filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));"
					/>
				</picture>
				<img
					class="boxer-title absolute bottom-14 h-auto w-[480px]"
					alt="El Mariana"
					src="/img/boxers/el-mariana-title.webp"
				/>
				<img
					class="boxer-flag h-20 w-24 object-contain object-center"
					alt="Bandera de México"
					src="/img/flags/mx.webp"
				/>
			</header>

			<footer class="absolute bottom-0 flex w-full justify-between text-center text-white">
				<div class="flex flex-col gap-y-2">
					<h4 class="text-lg">País</h4>
					<p class="text-lg font-bold">México</p>
					<a
						href={baseUrl}
						class="mt-10 inline-block font-semibold text-accent transition hover:scale-110"
					>
						Ver combate
					</a>
				</div>

				<div class="flex flex-col gap-y-2">
					<h4 class="text-lg">Peso</h4>
					<p class="text-lg font-bold">61 kg</p>
					<a
						href={baseUrl}
						class="mt-10 inline-block font-semibold text-accent transition hover:scale-110"
					>
						Ver perfil
					</a>
				</div>
			</footer>
		</article>
		<aside class="mt-12 grid gap-x-10 gap-y-8">
			{
				listOfBoxers.map(({ id, name, country, countryName }) => (
					<a
						class="boxer-link group relative flex h-20 items-center justify-center"
						title={`Visita la página del boxeador ${name}`}
						href={baseUrl}
						data-id={id}
						data-name={name}
						data-country={country}
						data-country-name={countryName}
					>
						<picture>
							<source srcset={`/img/boxers/${id}-small.avif`} type="image/avif" />
							<source srcset={`/img/boxers/${id}-small.webp`} type="image/webp" />
							<img
								loading="lazy"
								src={`/img/boxers/${id}-small.avif`}
								alt={`Foto en pequeño del boxeador ${name}`}
								class="boxer-image -mt-20 w-full object-contain px-2 transition group-hover:scale-110"
							/>
						</picture>
					</a>
				))
			}
		</aside>
	</div>
</section>

<script>
	const boxerLinks = document.querySelectorAll(".boxer-link")
	const boxerTitle = document.querySelector(".boxer-title") as HTMLImageElement
	const boxerPhoto = document.querySelector(".boxer-photo") as HTMLPictureElement
	const boxerCountry = document.querySelector(".boxer-flag") as HTMLImageElement

	boxerLinks.forEach((link) => {
		link.addEventListener("mouseenter", (event) => {
			const { id, name, country, countryName } = (event.currentTarget as HTMLElement)?.dataset

			const boxerSrc = `/img/boxers/${id}-big`
			const titleSrc = `/img/boxers/${id}-title.webp`

			boxerPhoto.getElementsByTagName("source")[0].srcset = `${boxerSrc}.avif`
			boxerPhoto.getElementsByTagName("source")[1].srcset = `${boxerSrc}.webp`
			boxerPhoto.getElementsByTagName("img")[0].src = `${boxerSrc}.avif`
			boxerTitle.src = titleSrc
			boxerCountry.src = `/img/flags/${country}.webp`

			boxerPhoto.getElementsByTagName("img")[0].alt = `Fotografía de ${name}`

			boxerTitle.alt = name ?? ""

			boxerCountry.alt = `Bandera de ${countryName}`
		})
	})
</script>

<style>
	.boxer-link {
		background: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.1) 0%,
			transparent 40%,
			transparent 100%
		);
		transition: all 0.5s ease;
	}

	.boxer-link::before {
		content: "";
		position: absolute;
		inset: 0;
		display: block;
		background: linear-gradient(
			to bottom,
			rgba(255, 255, 255, 0.2) 0%,
			transparent 40%,
			transparent 100%
		);
		opacity: 0;
		height: 50%;
		transition:
			opacity 0.2s ease-in-out,
			height 0.2s ease-in-out;
	}

	.boxer-link:hover::before {
		opacity: 0.8;
		height: 90%;
		box-shadow: 0 0px 3px rgba(50, 50, 50, 0.75);
	}

	.boxer-image {
		transition: transform 0.3s ease-in-out;
	}

	.boxer-link:hover .boxer-image {
		transform: scale(1.1);
	}

	aside {
		display: grid;
		grid-template-columns: repeat(12, 1fr);
		grid-auto-rows: 40px;

		a {
			grid-column: span 2;

			&:nth-child(11n + 7) {
				grid-column-start: 2;
				grid-column-end: 4;
			}
		}
	}
</style>
