---
import Typography from "@/components/Typography.astro"
import { BOXERS } from "@/consts/boxers"
import { COUNTRIES } from "@/consts/countries"

const listOfBoxers = BOXERS.map((boxer) => {
	const { country } = boxer
	const countryName = COUNTRIES[country]?.name || ""
	return { ...boxer, countryName }
})

const msFadeLuchador = 150
---

<section class="my-40">
	<Typography
		as="h3"
		variant="atomic-title"
		color="primary"
		class:list={"text-center"}
		id="selectedBoxer"
	>
		elige tu luchador
	</Typography>

	<div class="flex flex-col items-center justify-center gap-8">
		<article
			data-transition-duration={msFadeLuchador}
			class="relative flex w-full flex-col items-center justify-center"
			style="view-transition-name: boxer;"
		>
			<header
				class="relative flex w-full flex-col items-center justify-center bg-center bg-no-repeat"
				style="background-image: url('/img/effects/boxer-background.png'); background-size: 75%;"
				id="boxer-header"
			>
				<picture
					class={`boxer-photo h-auto object-contain transition duration-[${msFadeLuchador}] px-10 sm:px-0 sm:w-[30vw] xl:w-[19vw] 3xl:h-[600px] 3xl:w-[480px]`}
				>
					<source id="boxer-big-webp" type="image/webp" />
					<source id="boxer-big-avif" type="image/avif" />
					<img
						id="boxer-big-img"
						class={`boxer-photo h-auto object-contain transition duration-[${msFadeLuchador}] px-10 sm:px-0 sm:w-[30vw] xl:w-[19vw] 3xl:h-[600px] 3xl:w-[480px]`}
						alt=""
						style="filter: drop-shadow(0 0 10px rgba(0, 0, 0, 1));"
					/>
				</picture>
				<img
					id="boxer-title"
					class={`boxer-title pointer-events-none absolute bottom-14 h-auto transition duration-[${msFadeLuchador}] px-10 sm:px-0 sm:w-[30vw] xl:w-[19vw] 3xl:w-[480px]`}
					alt=""
				/>
				<img
					id="boxer-flag"
					class={`boxer-flag pointer-events-none aspect-[3/2] h-auto w-20 object-contain object-center transition duration-[${msFadeLuchador}] 3xl:w-24`}
					alt=""
				/>
			</header>

			<footer
				id="boxer-footer"
				class="absolute bottom-0 hidden w-full justify-between text-center text-white transition duration-200 xl:flex"
			>
				<div class="flex flex-col gap-y-2">
					<h4 class="text-lg">País</h4>
					<p class="text-lg font-bold" id="country-text"></p>
					<a
						href="#"
						class="mt-10 inline-block font-semibold text-accent transition hover:scale-110"
					>
						Ver combate
					</a>
				</div>

				<div class="flex flex-col gap-y-2">
					<h4 class="text-lg">Peso</h4>
					<p class="text-lg font-bold" id="weight-text"></p>
					<a
						href="#"
						class="mt-10 inline-block font-semibold text-accent transition hover:scale-110"
					>
						Ver perfil
					</a>
				</div>
			</footer>
		</article>
		<aside class="boxers-aside">
			<div class="blur"><div class="clip-black"></div></div>
			<nav class="boxers-nav">
				{
					listOfBoxers.map(({ id, name, country, countryName, weight }) => (
						<button
							class="boxer-link"
							title={`Visita la página del boxeador ${name}`}
							data-id={id}
							data-name={name}
							data-country={country}
							data-country-name={countryName}
							data-weight={weight}
						>
							<div class="boxer-link-background" />
							<picture class="boxer-image">
								<source srcset={`/img/boxers/${id}-small.avif`} type="image/avif" />
								<source srcset={`/img/boxers/${id}-small.webp`} type="image/webp" />
								<img
									loading="lazy"
									src={`/img/boxers/${id}-small.avif`}
									alt={`Foto en pequeño del boxeador ${name}`}
									class="boxer-image"
								/>
							</picture>
						</button>
					))
				}
			</nav>
		</aside>
	</div>
</section>

<script>
	const boxerBigWebp = document.getElementById("boxer-big-webp") as HTMLSourceElement
	const boxerBigAvif = document.getElementById("boxer-big-avif") as HTMLSourceElement
	const boxerBigImg = document.getElementById("boxer-big-img") as HTMLImageElement
	const boxerTitle = document.getElementById("boxer-title") as HTMLImageElement
	const boxerFlag = document.getElementById("boxer-flag") as HTMLImageElement
	const countryText = document.querySelector("#country-text") as HTMLElement | null
	const weightText = document.querySelector("#weight-text") as HTMLElement | null

	function updateBoxerContent(boxer: any) {
		boxerBigWebp.srcset = `/img/boxers/${boxer.id}-big.webp`
		boxerBigAvif.srcset = `/img/boxers/${boxer.id}-big.avif`
		boxerBigImg.src = `/img/boxers/${boxer.id}-big.avif`
		boxerBigImg.alt = `Fotografía de ${boxer.name}`
		boxerTitle.src = `/img/boxers/${boxer.id}-title.webp`
		boxerTitle.alt = boxer.name
		boxerFlag.src = `/img/flags/${boxer.country}.webp`
		boxerFlag.alt = `Bandera de ${boxer.countryName}`

		if (countryText && weightText) {
			countryText.textContent = boxer.countryName
			weightText.textContent = `${boxer.weight} kg`
		}
	}

	const boxerButtons = document.querySelectorAll(".boxer-link")
	boxerButtons.forEach((button) => {
		button.addEventListener("click", (event) => {
			const currentTarget = event.currentTarget as HTMLElement
			const dataset = currentTarget.dataset

			if (dataset) {
				const { id, name, country, countryName, weight } = dataset

				if (id && name && country && countryName && weight) {
					const selectedBoxer = {
						id,
						name,
						country,
						countryName,
						weight: Number.parseFloat(weight),
					}

					updateBoxerContent(selectedBoxer)
				}
			}
		})
	})

	const firstBoxerButton = boxerButtons[0] as HTMLElement
	const dataset = firstBoxerButton.dataset

	if (dataset) {
		const { id, name, country, countryName, weight } = dataset

		if (id && name && country && countryName && weight) {
			const initialBoxer = {
				id,
				name,
				country,
				countryName,
				weight: Number.parseFloat(weight),
			}

			updateBoxerContent(initialBoxer)
		}
	}
</script>

<style>
	.boxers-aside {
		display: flex;
		max-width: 100vw;
		height: 8rem;
		overflow-x: scroll;
		position: relative;
		scrollbar-width: none;
		transition: all 0.3s ease-in-out;
		.blur {
			opacity: 0;
			transition: opacity 0.3s ease-in-out;
			position: absolute;
			width: 100%;
			height: 100%;
			mask-image: linear-gradient(to bottom, transparent 0%, white 10%, white 100%);
			backdrop-filter: blur(10px);
			.clip-black {
				position: absolute;
				width: 100%;
				height: 100%;
				clip-path: polygon(100% 0, 0 0, 50% 100%);
				filter: blur(100px);
				background: linear-gradient(180deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
			}
		}
	}

	.boxers-aside.up {
		margin-top: -20rem;
	}

	.boxers-nav {
		display: flex;
		gap: 2rem;
		height: 100%;

		padding: 1rem 5rem;
	}

	.boxer-link {
		position: relative;
		width: 10rem;
		max-width: 15rem;
		display: flex;
		align-items: center;
		flex-direction: column;
		transition: all 0.5s ease;
	}

	.boxer-link-background {
		position: absolute;
		width: 100%;
		bottom: 0;
		display: block;
		background: linear-gradient(
			180deg,
			rgba(255, 255, 255, 1) 0%,
			rgba(255, 255, 255, 0.5) 30%,
			rgba(0, 0, 0, 0) 95%
		);
		opacity: 0.25;
		height: 60%;
		transition:
			all 0.3s ease-in-out,
			height 0.2s ease-in-out;
	}

	.boxers-aside.up .boxer-link-background {
		opacity: 0.5;
	}

	.boxer-link:hover {
		opacity: 0.9;
	}

	.boxer-image {
		z-index: 2;
		transition: all 0.3s ease-in-out;
		height: 100%;
	}

	.boxer-link:hover .boxer-image {
		transform: scale(1.1);
		margin-bottom: 5px;
	}

	@media (min-width: 1280px) {
		.boxers-aside {
			padding: 0.5rem 0;
			display: block;
			max-width: none;
			width: 100%;
			overflow: hidden;
			height: auto;
		}
		.boxers-nav {
			overflow: hidden;
			display: grid;
			padding: 1rem 0rem;
			@apply max-w-6xl gap-y-0;
			width: 100%;
			grid-template-columns: repeat(12, 1fr);
		}
		.boxer-link {
			@apply flex h-20 items-center justify-center;
			width: 100%;
			grid-column: span 2;

			&:nth-child(11n + 7) {
				grid-column-start: 2;
				grid-column-end: 4;
			}
		}

		.boxer-image {
			@apply h-full;
		}
	}

	@media (max-width: 1650px) {
		.boxers-aside.up {
			margin-top: -15rem;
		}
	}
</style>
