---
import SmokeBackground from "@/components/SmokeBackground.astro"
import "@fontsource-variable/jost"

interface Props {
	description: string
	title: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<title>{title}</title>

		<meta charset="UTF-8" />
		<meta name="description" content={description} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href="https://lavelada.es" />
		<meta name="viewport" content="width=device-width" />

		<meta name="keywords" content="velada, streamers, creadores, Ibai, boxeo, midudev" />

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@infoLaVelada" />
		<meta name="twitter:creator" content="@IbaiLlanos" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={description} />
		<meta name="twitter:image" content="https://lavelada.es/og.jpg" />

		<meta name="og:image" content="https://lavelada.es/og.jpg" />
		<meta name="og:title" content={title} />
		<meta name="og:description" content={description} />
		<meta name="og:url" content="https://lavelada.es" />
		<meta name="og:site_name" content="La Velada 4" />
		<meta name="og:type" content="website" />
		<meta name="og:locale" content="es_ES" />

		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />

		<script is:inline>
			window.getThemePreference = () => {
				const localItem = typeof localStorage !== "undefined" && localStorage.getItem("theme")
				if (localItem) return localItem
				return window.matchMedia("(prefers-color-scheme: dark)").matches ? "dark" : "light"
			}

			const isDark = window.getThemePreference() === "dark"
			document.documentElement.classList.toggle("dark", isDark)
		</script>
	</head>

	<body
		class="[&_:focus-visible]:outline-none [&_:focus-visible]:ring-2 [&_:focus-visible]:ring-primary"
	>
		<SmokeBackground />
		<div class="mx-auto max-w-6xl px-2 pt-16 md:pt-20 lg:px-10" id="main-content">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	:root {
		--color-primary: #333;
		--color-secondary: #ddd;
		--color-twitch: #9146ff;
		--color-twitch-ice: #f0f0ff;

		--background-color: #bbb;
		--background-twitch: #000;
	}

	.dark {
		--color-primary: #ddd;
		--color-secondary: #333;

		--background-color: #333;
		--background-twitch: var(--color-twitch-ice);
	}

	html {
		font-family: "Jost Variable", system-ui, sans-serif;
		background: var(--background-color);
		overflow-x: hidden;
		overscroll-behavior: none;
	}

	main {
		position: relative;
	}

	@media screen and (prefers-reduced-motion: no-preference) {
		html {
			scroll-behavior: smooth;
		}
	}

	/* Hiding class, making content visible only to screen readers but not visually */
	/* "sr" meaning "screen-reader" */
	.sr-only:not(:focus):not(:active) {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	::-webkit-scrollbar {
		width: 10px;
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: theme("colors.primary");
		border: 2px solid transparent;
		background-clip: content-box;
	}

	::-webkit-scrollbar-track {
		background: var(--background-image);
	}

	::-webkit-scrollbar-corner {
		background: var(--background-image);
	}
</style>
