---
import "@fontsource-variable/jost"

interface Props {
  title: string
}

const { title } = Astro.props
const descriptionPage =
  "Evento de boxeo entre streamers y creadores de contenido, organizado por Ibai Llanos"
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={descriptionPage} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="https://lavelada.es" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <link rel="preload" as="image" href="/concrete.png" />
    <meta
      name="keywords"
      content="velada, streamers, creadores, Ibai, boxeo, midudev"
    />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@infoLaVelada" />
    <meta name="twitter:creator" content="@ibai" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={descriptionPage} />
    <meta name="twitter:image" content="/og.webp" />

    <meta name="og:image" content="/og.webp" />
    <meta name="og:title" content={title} />
    <meta name="og:description" content={descriptionPage} />
    <meta name="og:url" content="https://lavelada.es" />
    <meta name="og:site_name" content="La Velada 4" />
    <meta name="og:type" content="website" />
    <meta name="og:locale" content="es_ES" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
  </head>
  <body>
    <div class="max-w-6xl px-2 lg:px-10 pt-20 md:pt-32 mx-auto">
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: "Jost Variable", system-ui, sans-serif;
    background: #ddd url("/concrete.png") repeat;
  }

  body {
    perspective: 2000px;
  }

  /* Hiding class, making content visible only to screen readers but not visually */
  /* "sr" meaning "screen-reader" */
  .sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }
</style>
