---
import "@fontsource-variable/jost"

interface Props {
	title: string
}

const { title } = Astro.props
const descriptionPage =
	"Evento de boxeo entre streamers y creadores de contenido, organizado por Ibai Llanos"
---

<!doctype html>
<html lang="es">
	<head>
		<title>{title}</title>

		<meta charset="UTF-8" />
		<meta name="description" content={descriptionPage} />

		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="canonical" href="https://lavelada.es" />
		<meta name="viewport" content="width=device-width" />

		<meta
			name="keywords"
			content="velada, streamers, creadores, Ibai, boxeo, midudev"
		/>

		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:site" content="@infoLaVelada" />
		<meta name="twitter:creator" content="@ibai" />
		<meta name="twitter:title" content={title} />
		<meta name="twitter:description" content={descriptionPage} />
		<meta name="twitter:image" content="/og.jpg" />

		<meta name="og:image" content="/og.jpg" />
		<meta name="og:title" content={title} />
		<meta name="og:description" content={descriptionPage} />
		<meta name="og:url" content="https://lavelada.es" />
		<meta name="og:site_name" content="La Velada 4" />
		<meta name="og:type" content="website" />
		<meta name="og:locale" content="es_ES" />

		<meta name="robots" content="index, follow" />
		<meta name="googlebot" content="index, follow" />
	</head>
	<body>
		<div id="background">
			<div/>
		</div>
		<div class="relative container mx-auto w-screen -z-10 overflow-x-clip">
			<img
				aria-hidden="true"
				src="/lights.svg"
				class="absolute md:scale-125 lg:scale-100 lg:left-0 top-0 opacity-0 transform-gpu w-screen brightness-0 dark:brightness-200"
				onload="this.classList.add('animate-fade-in', 'animate-duration-500')"
				alt="Focos de luz"
			/>
		</div>
		<div class="max-w-6xl px-2 lg:px-10 pt-16 md:pt-20 mx-auto">
			<slot />
		</div>
	</body>
</html>

<style is:global>
	:root {
		--color-primary: #333;
		--color-secondary: #ddd;
		--color-twitch: #6441a4;
		--background-color: #d1d1d1;

		--background-image: url("/concrete.png") repeat;
	}

	.dark {
		--color-primary: #ddd;
		--color-secondary: #333;
		--color-twitch: #a270ff;
		--color-bg: #d1d1d1;
		--background-color: var(--color-secondary);

		--background-image: url("/concrete-dark.png") repeat;
	}

	html {
		font-family: "Jost Variable", system-ui, sans-serif;
		scroll-behavior: smooth;
		overflow-x: hidden;
		overscroll-behavior: none;
		background-color: var(--background-color)
	}

	/* Hiding class, making content visible only to screen readers but not visually */
	/* "sr" meaning "screen-reader" */
	.sr-only:not(:focus):not(:active) {
		clip: rect(0 0 0 0);
		clip-path: inset(50%);
		height: 1px;
		overflow: hidden;
		position: absolute;
		white-space: nowrap;
		width: 1px;
	}

	::-webkit-scrollbar {
		width: 10px;
		border-radius: 10px;
	}

	::-webkit-scrollbar-thumb {
		border-radius: 10px;
		background-color: theme("colors.primary");
		border: 2px solid transparent;
		background-clip: content-box;
	}

	::-webkit-scrollbar-track {
		background-color: var(--background-color)
	}

	::-webkit-scrollbar-corner {
		background-color: var(--background-color)
	}

	#background {
		position: sticky;
		top: 0px;
		height: 0px;
		width: 100%;
		z-index: -1;
	}

	#background > div{
		width: 100dvw;
		height: 100dvh;
		background-color: var(--color-bg);
		opacity: 0;
	}
</style>
<script>
	const bgImage = new Image()
	bgImage.src = "/concrete.png"
	bgImage.onload = () => {
		const $bg = document.querySelector("#background > div") as HTMLDivElement
		$bg.style.setProperty("background", "var(--background-image)")
		$bg.animate({ opacity: [0, 1] }, { duration: 200, fill: "forwards" })
	}
</script>
