---
import "@fontsource-variable/jost"
import Noise from "@/components/Noise.astro"

interface Props {
  title: string
}

const { title } = Astro.props
const descriptionPage = "Evento de boxeo entre streamers y creadores de contenido, organizado por Ibai Llanos"
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content={descriptionPage}
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href="https://lavelada.es" />
    <title>{title}</title>
    <meta name="viewport" content="width=device-width" />
    <meta name="keywords" content="velada, streamers, creadores, Ibai, boxeo, midudev" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@infoLaVelada" />
    <meta name="twitter:creator" content="@midudev" />
    <meta name="twitter:title" content=`La velada 4: ${descriptionPage}` />
    <meta name="twitter:description" content={descriptionPage} />
    <meta name="twitter:image" content="/og.webp" />
    <meta name="og:image" content="/og.webp" />
    <meta name="og:title" content=`La velada 4: ${descriptionPage}` />
    <meta name="og:description" content={descriptionPage} />
    <meta name="og:url" content="https://lavelada.es" />
    <meta name="og:site_name" content="La velada 4" />
    <meta name="og:type" content="website" />
    <meta name="og:locale" content="es_ES" />
    <meta name="robots" content="index, follow" />
    <meta name="googlebot" content="index, follow" />
  </head>
  <body>
    <Noise />
    <div class="max-w-6xl px-2 lg:px-10 pt-20 md:pt-32 mx-auto" data-container>
      <slot />
    </div>
  </body>
</html>

<style is:global>
  html {
    font-family: "Jost Variable", system-ui, sans-serif;
    background: #ddd;
  }
</style>
