---
import { ViewTransitions } from "astro:transitions"

import ButtonUp from "@/components/ButtonUp.astro"
import Header from "@/components/Header.astro"
import KonamiCode from "@/components/KonamiCode.astro"
import LightsBackground from "@/components/LightsBackground.astro"
import NoiseBackground from "@/components/NoiseBackground.astro"
import SEO, { type Preload } from "@/components/SEO.astro"

import TwitchLiveBox from "@/components/TwitchLiveBox.astro"
import Footer from "@/sections/Footer.astro"
import "@fontsource-variable/jost"

interface Props {
	title: string
	description: string
	preload?: Array<Preload>
	canonical?: string
	image?: string
}

const { title, description, preload, canonical, image } = Astro.props
---

<!doctype html>
<html lang="es">
	<head>
		<SEO
			canonical={canonical}
			description={description}
			image={image}
			preload={preload}
			title={title}
		/>
		<ViewTransitions />
	</head>

	<body
		class="overflow-x-hidden selection:bg-primary selection:text-secondary [&_:focus-visible]:outline-none [&_:focus-visible]:ring-2 [&_:focus-visible]:ring-primary"
	>
		<TwitchLiveBox />
		<a
			href="#main-content"
			class="anchor-main-content fixed top-0 z-20 rounded-br-md bg-secondary px-3 py-5 text-primary opacity-0 focus:opacity-100"
			>Saltar al contenido principal</a
		>
		<NoiseBackground />
		<LightsBackground />
		<Header />
		<div
			class="mx-auto min-h-screen max-w-6xl px-2 pt-16 selection:bg-primary selection:text-secondary md:pt-20 lg:px-10"
			id="main-content"
		>
			<slot />
			<Footer />
			<KonamiCode />
			<!-----------------------------
     `    ``               `
      ``  _ `      `       ``
     `   |_| `  `` ``    `  `
    ``  -___-_` `   ` --------------
  ``   /      )      | This is fine |`
 `____/| (0) (0)_()  |/-------------  `
/|   | |   ^____)      ``      ``
||   |_|    \_//     Uɔ````   `` ``
||    || |    |    ========`  ``  ``
||    || |    |      ||     ``   `
||     \\_\   |\     ||   ```    `
=========||====||    ||  ``       `
  || ||   \Ɔ || \Ɔ   ||   ``    ``
  || ||      ||      ||  `     ``
--------------------------------->
		</div>
		<ButtonUp />
		<style is:global>
			:root {
				--color-primary: #ddd;
				--color-secondary: #333;
				--color-accent: #b4cd02;
				--color-accent-rgb: 213, 255, 0;

				--background-color: #141800;
				--background-twitch: var(--color-twitch-ice);

				--color-twitch: #9146ff;
				--color-twitch-ice: #f0f0ff;
			}

			@font-face {
				font-family: Atomic;
				font-display: swap;
				src: url("/fonts/atomic.woff2") format("woff2");
			}

			html {
				font-family: "Jost Variable", system-ui, sans-serif;
				background: var(--background-color);
				scrollbar-gutter: stable;
			}

			main {
				position: relative;
			}

			/* Hiding class, making content visible only to screen readers but not visually */
			/* "sr" meaning "screen-reader" */
			.sr-only:not(:focus):not(:active) {
				clip: rect(0 0 0 0);
				clip-path: inset(50%);
				height: 1px;
				overflow: hidden;
				position: absolute;
				white-space: nowrap;
				width: 1px;
			}

			@supports selector(::-webkit-scrollbar) {
				::-webkit-scrollbar {
					width: 10px;
					border-radius: 10px;
				}

				::-webkit-scrollbar-thumb {
					border-radius: 10px;
					background-color: theme("colors.primary");
					border: 2px solid transparent;
					background-clip: content-box;
				}

				::-webkit-scrollbar-thumb:active {
					background-color: #666;
				}

				::-webkit-scrollbar-track {
					background: var(--background-image);
				}

				::-webkit-scrollbar-corner {
					background: var(--background-image);
				}
			}

			@supports not selector(::-webkit-scrollbar) {
				* {
					scrollbar-color: theme("colors.primary") transparent;
					scrollbar-width: thin;
				}
			}

			.anchor-main-content {
				pointer-events: none;
			}

			.anchor-main-content:focus {
				pointer-events: all;
			}
		</style>
	</body>
</html>
