---
import { FIGHTERS } from '@/consts/fighters'
import { countries } from '@/consts/countries'
import BoxerCard from '../BoxerCard.astro'
import type { Fighters } from '@/types/fighters'

const { fighter } = Astro.props

interface Props {
  fighter: Fighters
}

const birthDate = fighter.birthDate.toLocaleDateString('es-ES', {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
})

const opponent = FIGHTERS.find((f) => f.id === fighter.versus)
const fighterCountry = countries.find((c) => c.id === fighter?.country)
---

<section class="relative flex min-h-screen w-full overflow-x-hidden">
  <!-- Fondo con imagen de hero -->
  <div class="absolute inset-0 w-full bg-[url('/images/hero.avif')] bg-cover bg-center opacity-50">
  </div>

  <div
    class="relative z-10 container mx-auto flex w-full max-w-6xl flex-col items-center overflow-hidden px-8 pt-24 lg:flex-row lg:items-start lg:pt-32"
  >
    <!-- Información del luchador -->
    <div class="relative z-10 flex h-full w-full flex-col justify-center gap-16 pb-24 lg:w-1/2">
      <div class="stat-item flex flex-col gap-1" style="animation-delay: 0.1s">
        <img
          src={fighterCountry?.image.src}
          alt={`Bandera de ${fighterCountry?.name ?? 'Desconocido'}`}
          class="mb-4 inline-flex h-auto w-16"
        />
        <img
          src={`/images/fighters/text/${fighter.id}.webp`}
          alt={fighter.name}
          class="w-10/12 -translate-x-2 object-contain"
        />
        <h2 class="text-theme-seashell text-2xl">{fighter.realName}</h2>
      </div>

      <div class="flex flex-col gap-2">
        <div class="stat-item flex items-center gap-1" style="animation-delay: 0.2s">
          <div class="bg-theme-tickle-me-pink text-theme-raisin-black w-fit p-1 text-2xl">Edad</div>
          <div class="bg-theme-french-mauve p-1 text-2xl">{fighter.age} años</div>
        </div>
        <div class="stat-item flex items-center gap-1" style="animation-delay: 0.3s">
          <div class="bg-theme-tickle-me-pink text-theme-raisin-black w-fit p-1 text-2xl">
            Altura
          </div>
          <div class="bg-theme-french-mauve p-1 text-2xl">{fighter.height}m</div>
        </div>
        <div class="stat-item flex items-center gap-1" style="animation-delay: 0.4s">
          <div class="bg-theme-tickle-me-pink text-theme-raisin-black w-fit p-1 text-2xl">Peso</div>
          <div class="bg-theme-french-mauve p-1 text-2xl">{fighter.weight}kg</div>
        </div>
        <div class="stat-item flex items-center gap-1" style="animation-delay: 0.5s">
          <div class="bg-theme-tickle-me-pink text-theme-raisin-black w-fit p-1 text-2xl">
            Ciudad
          </div>
          <div class="bg-theme-french-mauve p-1 text-2xl">{fighter.city}</div>
        </div>
      </div>
    </div>

    <!-- Imagen del luchador: posición siempre absolute, centrada -->
    <div
      class="mask-fade-bottom absolute top-1/2 left-1/2 z-0 flex h-[60vh] w-full -translate-x-1/2 -translate-y-1/2 scale-[1] items-center justify-center lg:h-[80vh] lg:w-1/2"
    >
      <img
        src={`/images/fighters/big/${fighter.id}.webp`}
        alt={fighter.name}
        class="animate-fade-in relative z-10 h-full w-full object-contain"
        data-transition={`image-${fighter.id}`}
      />
    </div>

    <!-- Espaciador solo para desktop -->
    <div class="hidden flex-1 lg:block"></div>

    <!-- Más información -->
    <div
      class="relative z-10 flex h-full w-full flex-col items-end justify-center gap-16 pb-24 lg:w-1/2"
    >
      <div class="stat-item flex w-full flex-col items-end gap-4" style="animation-delay: 0.6s">
        <div class="border-theme-seashell flex w-1/2 justify-end rounded-none border-b">
          <span class="text-theme-french-mauve bg-theme-seashell rounded-b-none px-4 text-sm"
            >Redes sociales</span
          >
        </div>
        <div class="flex flex-wrap gap-3">
          {
            (fighter.socials || [])?.map(({ url, image, name, label }, index) => (
              <a
                href={url}
                target="_blank"
                aria-label={label ?? name}
                class="stat-item text-theme-seashell flex items-center justify-center transition hover:scale-125"
                style={`animation-delay: ${0.7 + index * 0.1}s`}
              >
                <image.logo />
              </a>
            ))
          }
        </div>
      </div>

      <div class="stat-item flex w-full flex-col items-end gap-4" style="animation-delay: 0.9s">
        <div class="flex items-center gap-4">
          <span class="text-theme-seashell text-6xl">VS</span>
          <BoxerCard id={opponent?.id || ''} name={opponent?.name || ''} class="" />
        </div>
      </div>
    </div>
  </div>

  <div
    class="pointer-events-none absolute top-0 left-0 h-full w-1/2 rounded-none bg-gradient-to-r from-black/60 to-transparent"
  >
  </div>
  <div
    class="pointer-events-none absolute top-0 right-0 h-full w-1/2 rounded-none bg-gradient-to-l from-black/60 to-transparent"
  >
  </div>
</section>

<style>
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  .stat-item {
    opacity: 0;
    animation: fadeIn 0.5s ease-out forwards;
  }
</style>
